@mixin button($size) {
  background: none;
  border: 3px solid $pop;
  border-radius: 5px;
  color: $pop;
  display: block;
  font-size: $size;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  outline: none;
}


@mixin media($bp) {
     @if $bp == tablet {
        @media only screen and (max-width: 700px) {
             @content;
        }
    }
    @if $bp == mobileLarge {
         @media only screen and (max-width: 525px ){
            @content;
        }
    }
    @if $bp == mobile {
         @media only screen and (max-width: 440px ){
            @content;
        }
    }
    @if $bp == mobileSmall {
         @media only screen and (max-width: 330px ){
            @content;
        }
    }

}
