@mixin buttonAfter {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  background: #f7f7f7;
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
}
