$vspace: 15px;
$hspace: 10px;


// colors
$white: #ffffff;
$lightGrey: #e6e8e6;
$midGrey: #ced0ce;
$darkGrey: #4F4F4F;
$charcoal: #191919;
$pop: #AAEFDF;


// fonts
$raleway: 'Raleway', sans-serif;
$kanit: 'Kanit', sans-serif;
$paytone: 'Paytone One', sans-serif;
$catamaran: 'Catamaran', sans-serif;


$box-shadow: 0px 0px 5px 0px $midGrey;
$border-radius: 5px;
