<div class="all-projects-container">
    <div class="project-card">
        <h3 class="title">Project Title</h3>
        <div class="project-contents">
        <p class="snapshot">brief line about project</p>
        <button class="details-btn" ng-click="toggleDetails()">Details</button>
        </div>
    </div>
    <div class="details" ng-show="details">
        <ul class="project-details">
            <li class="description">more detailed description of project</li>
            <li class="client-url"><a href="#">nonprofitclienturl.com</a></li>
            <li class="contact-info">contact us: nonprofit@client.com</li>
        </ul>
        <button class="fork-btn">Fork Project</button>
    </div>
</div>
