<div class="client-dashboard-container">

  <div class="btnContainer">
    <button class="myProjectsBtn"><a ui-sref="codeKarmaParent.clientProjects">My Projects</a></button>
    <button class="createProjectsBtn"><a ui-sref="codeKarmaParent.clientAddProject">Create a Project</a></button>
  </div>

    <div class="infoContainer">

      <div class="profilePic"></div>

        <div class="orgName">
            <p>{{clientDashboard.orgName}}</p>
            <img ng-click='clientDashboard.showNameEdit=true' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            <input type="text" name="orgName" ng-show='clientDashboard.showNameEdit'ng-model="clientDashboard.orgName">
            <button class="save" ng-show='clientDashboard.showNameEdit' ng-click="clientDashboard.updateInfo()">Save</button>
        </div>

        <div class="orgLink">
            <p>{{clientDashboard.orgLink}}</p>
            <img ng-click='clientDashboard.showLinkEdit=true' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            <input type="text" name="orgLink" ng-show='clientDashboard.showLinkEdit' ng-model="clientDashboard.orgLink">
            <button class="save" ng-show='clientDashboard.showLinkEdit' ng-click="clientDashboard.updateInfo()">Save</button>
        </div>

    </div>
</div>
