<div class="client-projects-container">
    <header>
        <img src="assets/lotus_blue.png" alt="Lotus by Muhammad Faizal Rahman Hakim from the Noun Project" />
        <h1>Code Karma</h1>
        <nav class="nav">
            <div class="container">
                <ul class="navList">

                    <li class="navItem">
                        <a ui-sref="codeKarmaParent.home">Home</a>
                    </li>

                    <li class="navItem">
                        <a ui-sref="codeKarmaParent.clientDashboard">My Dashboard</a>
                    </li>

                    <li class="navItem">
                        <a ui-sref="codeKarmaParent.clientProjects">My Projects</a>
                    </li>

                    <li class="navItem">
                        <a ui-sref="codeKarmaParent.clientAddProject">Create a Project</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <div class="project-card">
        <ul class="project-details">
            <li class="title">
                <h3 class="title">Project Title</h3>
                <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
            <li class="snapshot">
                <p>brief line about project</p>
                <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
            <li class="description">
                <p>more detailed description of project</p>
                <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
            <li class="github-repo">
                <a>githubrepo.link</a>
                <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
            <li class="progress">
                <p>developer progress</p>

            </li>
        </ul>
    </div>
</div>
