<div class="client-dashboard-container">

    <div class="profilePic"></div>

<div class="infoContainer">

    <div class="orgName">
      <p>Organization Name</p>
      <img ng-click = 'clientDashboard.showNameEdit=true' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
      <input type="text" name="orgName" ng-show='clientDashboard.showNameEdit'>
      <button class="save" ng-show='clientDashboard.showNameEdit'>Save</button>
    </div>

    <div class="orgLink">
      <p>Website Link</p>
      <img ng-click ='clientDashboard.showLinkEdit=true' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
      <input type="text" name="orgLink" ng-show='clientDashboard.showLinkEdit'>
      <button class="save" ng-show='clientDashboard.showLinkEdit'>Save</button>
    </div>

</div>
    <button class="myProjectsBtn">My Projects</button>
    <button class="createProjectsBtn">Create a Project</button>
</div>
