<div class="client-add-project-container">
  <div class="mobile-nav">
    <h1 ui-sref="codeKarmaParent.home">Code Karma</h1>
    <img src="assets/menu.png" alt="menu by unlimicon from the Noun Project" ng-click="account.toggleSlide()">
  </div>
  <header>
      <img src="assets/lotus_blue.png" alt="Lotus by Muhammad Faizal Rahman Hakim from the Noun Project" ui-sref="codeKarmaParent.home"/>
      <h1 ui-sref="codeKarmaParent.home">Code Karma</h1>
      <nav class="nav">
          <div class="container">
              <ul class="navList">

                  <li class="navItem">
                      <a ui-sref="codeKarmaParent.clientDashboard">My Dashboard</a>
                  </li>

                  <li class="navItem">
                      <a ui-sref="codeKarmaParent.clientProjects">My Projects</a>
                  </li>

                  <li class="navItem active">
                      <a class="active" ui-sref="codeKarmaParent.clientAddProject">Create a Project</a>
                  </li>

              </ul>
          </div>
      </nav>
  </header>

    <div class="project-card">
        <h3>Add a New Project</h3>
        <form name="addProjectForm" class="add-project" ng-submit="addProjectForm.$valid && clientAddProject.create(title, briefDescription, description, category, githubRepo)">
            <label for="title">Project Title</label>
            <input type="text" ng-model="title" name="title" placeholder="What would you like to call your project?">
            <label for="brief-description">Snapshot</label>
            <input type="text" ng-model="briefDescription" name="briefDescription" placeholder="Sum up your project in one sentence.">
            <label for="description">Detail</label>
            <input type="text" ng-model="description" name="description" placeholder="What else would you like the developer to know about your project?">
            <div class="select-box">
            <label for="category">Project Category</label>
              <select ng-model="category" class="status">
              <option class="bug-fix">Bug Fix</option>
              <option class="design-update">Design Update</option>
              <option class="new-feature">New Feature</option>
              </select>
            </div>
            <label for="github-repo">GitHub Repository</label>
            <input type="text" ng-model="githubRepo" name="githubRepo" placeholder="Provide a link to the GitHub repo for this project.">
            <button type="submit" class="submit-btn">Submit Project</button>
        </form>
    </div>
</div>
