<div class="client-add-project-container">
    <div class="project-card">
        <h3 class="title">Project Title</h3>
        <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
        <ul class="project-details">
            <li class="snapshot">
              <p>brief line about project</p>
              <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
            <li class="description">
              <p>more detailed description of project</p>
              <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
              </li>
            <li class="client-url">
              <a href="#">nonprofitclienturl.com</a>
              <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
            <li class="contact-info">
              <p>contact us: nonprofit@client.com</p>
              <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
        </ul>
    </div>
</div>
