<div class="client-projects-container">
    <div class="project-card">
        <ul class="project-details">
            <li class="title">
              <h3 class="title">Project Title</h3>
              <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
            <li class="snapshot">
              <p>brief line about project</p>
              <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
            <li class="description">
              <p>more detailed description of project</p>
              <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
            <li class="github-repo">
              <a>githubrepo.link</a>
              <img ng-click='' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            </li>
        </ul>
    </div>
</div>
