<div class="community-feed-container">
  <div class="mobile-nav">
    <h1 ui-sref="codeKarmaParent.home">Code Karma</h1>
    <img src="assets/menu.png" alt="menu by unlimicon from the Noun Project" ng-click="account.toggleSlide()">
  </div>
    <header>
        <img ui-sref="codeKarmaParent.home" src="assets/lotus_blue.png" alt="Lotus by Muhammad Faizal Rahman Hakim from the Noun Project" />
        <h1 ui-sref="codeKarmaParent.home">Code Karma</h1>
        <nav class="nav">
            <div class="container">
                <ul class="navList">
                    <li class="navItem">
                        <a ui-sref="codeKarmaParent.devDashboard">My Dashboard</a>
                    </li>
                    <li class="navItem">
                        <a ui-sref="codeKarmaParent.devProjects">My Projects</a>
                    </li>
                    <li class="navItem">
                        <a ui-sref="codeKarmaParent.allProjects">All Projects</a>
                    </li>
                    <li class="navItem active">
                        <a class="active" ui-sref="codeKarmaParent.communityFeed">Community Feed</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="flexContainer">
        <div class="feed">
            <form class="postForm">
                <textarea name="post" placeholder="ask the community..." ng-model='communityFeed.post'></textarea>
                <button type="button" class="askBtn" ng-click="communityFeed.addPost()">Ask</button>
            </form>

            <div class="commPost" ng-repeat="post in posts | orderBy: '-'">
                <div class="postContainer">
                    <img class="questioner-img" src="{{post.questioner_image}}" alt="{{post.questioner}}">
                    <p class="question">{{post.question}}</p>
                    <div class="like-container">
                    <img class="like" src="assets/like.png" alt="like by dilayorganci from the Noun Project" ng-click="communityFeed.updateQuestionLikes(post.likes, post.question_id)">
                    <p class="likeAmount"><span>{{post.likes}}</span> Likes</p>
                    </div>
                </div>
                <div class="postInfoContainer">
                    <h1 class="name">{{post.questioner}}</h1>
                    <p class="timeElapsed"><span class="timeStamp">{{post.timeElapsed}}</span> ago</p>
                </div>
                <div class="responsesContainer">
                    <div class="response" ng-repeat="comment in post.comments">
                        <img class="commenter-photo" src="{{comment.image}}">
                        <div class="comment-container">
                            <p class="comment"><span class="commenter-name">{{comment.commenter}} </span> {{comment.comment}}</p>
                            <div class="comment-data">
                                <p class="comment-time">{{comment.commentTimestamp}}</p>
                                <p class="like-text">Like</p>
                                <img class="like-comment" src="assets/like.png" alt="like by dilayorganci from the Noun Project" ng-click="communityFeed.updateCommentLikes(comment.likes, comment.karma_comment_id)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="responseForm">
                    <textarea id="post.question_id" name="post" placeholder="Post a response" ng-model="post.response"></textarea>
                    <button type="button" class="respondBtn" ng-click="communityFeed.addResponse(post.response, post.question_id)">Post</button>
                </div>
            </div>
        </div>


        <aside class="sidebar">
            <div class="user-stats">
                <img class="user-photo" alt="{{currentUserStats.username}}" src="{{currentUserStats.image}}">
                <p class="userstat-username">{{currentUserStats.username}}</p>
                <hr>
                <p class="points">{{currentUserStats.points}} points</p>
                <p class="rank">All Time Rank:<span class="rank"> #{{currentUserStats.rank}}</span> of <span class="totalDevs">{{currentUserStats.total_devs}}</span></p>
            </div>
            <div class="leaderboard">
                <h3>Leaders This Week</h3>
                <ul>
                    <li class="one">
                        <div class="flex-left">
                        <p class="rank">#1</p>
                        <div class="prof-pic-container"><img class="prof-pic" src="{{leaderboard[0].developer_image}}" alt="{{leaderboard[0].developer_name}}"></div>
                        <p class="leader-username">{{leaderboard[0].developer_name}}</p>
                      </div>
                        <p class="points">{{leaderboard[0].karma_points}} pts</p>

                    </li>
                    <li class="two">
                      <div class="flex-left">
                      <p class="rank">#2</p>
                      <div class="prof-pic-container"><img class="prof-pic" src="{{leaderboard[1].developer_image}}" alt="{{leaderboard[1].developer_name}}"></div>
                      <p class="leader-username">{{leaderboard[1].developer_name}}</p>
                    </div>
                      <p class="points">{{leaderboard[1].karma_points}} pts</p>
                    </li>
                    <li class="three">
                      <div class="flex-left">
                      <p class="rank">#3</p>
                      <div class="prof-pic-container"><img class="prof-pic" src="{{leaderboard[2].developer_image}}" alt="{{leaderboard[2].developer_name}}"></div>
                      <p class="leader-username">{{leaderboard[2].developer_name}}</p>
                    </div>
                      <p class="points">{{leaderboard[2].karma_points}} pts</p>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>
