<div class="community-feed-container">

  <form class="postForm">
    <textarea name="post" placeholder="Ask the community"></textarea>
    <button type="button" class="askBtn">Ask</button>
  </form>

  <div class="commPost">
    <div class="profile"></div>
    <h1 class="name">Post Author</h1>
    <p class="question">Question text</p>
    <p class="timeElapsed"><span class="timeStamp">15</span><span class="timeUnit">minutes</span> ago</p>
    <img src="assets/like.png" alt="like by dilayorganci from the Noun Project">
  </div>

</div>
