<div class="dev-dashboard-container">

    <div class="btnContainer">
        <button class="myProjectsBtn">My Projects</button>
        <button class="allProjectsBtn">All Projects</button>
        <button class="commFeedBtn">Community Feed</button>
    </div>

    <div class="infoContainer">

        <div class="profilePic"></div>

        <div class="name">
            <p>Your Name</p>
            <img ng-click='devDashboard.showNameEdit=true' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            <input type="text" name="fullName" ng-show='devDashboard.showNameEdit' ng-model="devDashboard.newName">
            <button class="save" ng-show='devDashboard.showNameEdit' ng-click="devDashboard.updateInfo(devDashboard.newName)">Save</button>
        </div>

        <div class="gitHubLink">
            <p>github.com/yourName</p>
            <img ng-click='devDashboard.showLinkEdit=true' class="editIcon" src="assets/editIcon.png" alt="edit by Laura Vilar from the Noun Project" />
            <input type="text" name="gitHubLink" ng-show='devDashboard.showLinkEdit' ng-model="devDashboard.newLink">
            <button class="save" ng-show='devDashboard.showLinkEdit' ng-click="devDashboard.updateInfo(devDashboard.newLink)">Save</button>
        </div>

        <div class="rank">
          <p>All time rank: <span class="rankNum">24</span> out of <span class="totalRank">1,242</span</p>
        </div>

        <div class="points">
          <p><span class="totalPoints">1,205</span> points</p>
        </div>

        <div class="contributions">
          <p><span class="totalContribs">12</span> contributions</p>
        </div>

        <div class="skills">
            <p>Skills: Boiling water, napping</p>
            <img ng-click='devDashboard.showSkillEdit=true' class="editIcon" src="assets/plus.png" alt="Plus by Eagle Eye from the Noun Project" />
            <input type="text" name="skill" ng-show='devDashboard.showSkillEdit' ng-model="devDashboard.newSkill">
            <button class="save" ng-show='devDashboard.showSkillEdit' ng-click="devDashboard.updateInfo(devDashboard.newSkill)">Save</button>
        </div>


    </div>

</div>
