<div class="dev-dashboard-container">
  <div class="mobile-nav">
    <h1 ui-sref="codeKarmaParent.home">Code Karma</h1>
    <img ui-sref="codeKarmaParent.home" src="assets/lotus_blue.png" alt="Lotus by Muhammad Faizal Rahman Hakim from the Noun Project" />
  </div>
    <header>
        <img ui-sref="codeKarmaParent.home" src="assets/lotus_blue.png" alt="Lotus by Muhammad Faizal Rahman Hakim from the Noun Project" />
        <h1 ui-sref="codeKarmaParent.home">Code Karma</h1>
    </header>
    <div class="btnContainer">
        <button class="myProjectsBtn"><a ui-sref="codeKarmaParent.devProjects">MY PROJECTS</a></button>
        <button class="allProjectsBtn"><a ui-sref="codeKarmaParent.allProjects">ALL PROJECTS</a></button>
        <button class="commFeedBtn"><a ui-sref="codeKarmaParent.communityFeed">COMMUNITY FEED</a></button>
    </div>
    <div class="infoContainer">
        <img class="profilePic" alt="{{currentUser.name}}" src="{{currentUser.image}}" ng-cloak>
        <div class="name">
            <p>{{currentUser.name}}</p>
        </div>
        <p class="header">Username</p>
        <div class="username">
            <p>{{currentUserStats.username}}</p>
        </div>
        <img class="icon" src="assets/github_logo.png">
        <div class="gitHubLink">
            <a class="github-account" href="{{currentUser.github}}">{{currentUser.github}}</a>
        </div>
        <div class="rank">
            <p><span class="rank-heading">All Time Rank:</span> <span class="rankNum"> #{{currentUserStats.rank}}</span> out of <span class="totalRank">{{currentUserStats.total_devs}}</span</p>
        </div>
        <div class="points">
          <p class="totalPoints">{{currentUserStats.points}} points</p>
        </div>
        <div class="contributions">
            <p><span class="totalContribs">{{currentUser.commits}}</span> contributions</p>
        </div>
        <div class="skills">
            <p class="skills-header">SKILLS</p>
            <p class="skills-list">{{currentUser.skills}}</p>
            <img ng-click='devDashboard.showSkillEdit=true' class="editIcon" src="assets/plus.png" alt="Plus by Eagle Eye from the Noun Project" />
            <input type="text" name="skill" ng-show='devDashboard.showSkillEdit' ng-model="devDashboard.newSkill">
            <button class="save" ng-show='devDashboard.showSkillEdit' ng-click="devDashboard.updateInfo('skills')">Save</button>
        </div>
    </div>
</div>
