<div class="pull-request-modal" ng-show="devProjects.showModal">
  <img src="assets/delete.png" alt="Delete by Huu Nguyen from the Noun Project" ng-click="devProjects.closeModal()">
  <h1>Pull Request</h1>
  <input type="text" placeholder="Enter a title for your Pull Request" ng-model="pullInfo.title">
  <p class="project-body">Add a comment (required)</p>
  <textarea ng-model="pullInfo.body">Add a comment (required)</textarea>
  <div class="select-container">
    <div class="sub-container">
      <p><span>1</span> Select a base branch</p>
      <select class="base-branch" ng-model="pullInfo.base">
        <option ng-repeat="branch in baseBranches">{{branch.name}}</option>
      </select>
    </div>
    <div class="sub-container">
      <p><span>2</span> Select a head branch</p>
      <select class="head-branch" ng-model="pullInfo.head">
        <option ng-repeat="branch in headBranches">{{branch.name}}</option>
      </select>
    </div>
  </div>
  <button ng-click="devProjects.submitRequest()">Submit</button>
</div>


<div class="dev-projects-container">
    <header>
        <img ui-sref="codeKarmaParent.home" src="assets/lotus_blue.png" alt="Lotus by Muhammad Faizal Rahman Hakim from the Noun Project" />
        <h1 ui-sref="codeKarmaParent.home" >Code Karma</h1>
        <nav class="nav">
            <div class="container">
                <ul class="navList">

                    <li class="navItem">
                        <a ui-sref="codeKarmaParent.devDashboard">My Dashboard</a>
                    </li>

                    <li class="navItem active">
                        <a class="active" ui-sref="codeKarmaParent.devProjects">My Projects</a>
                    </li>

                    <li class="navItem">
                        <a ui-sref="codeKarmaParent.allProjects">All Projects</a>
                    </li>

                    <li class="navItem">
                        <a ui-sref="codeKarmaParent.communityFeed">Community Feed</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <div class="project-card" ng-repeat="project in projects">
        <h3 class="title">{{project.organization_name}}</h3>
        <p class="brief-description">{{project.brief_description}}</p>
        <div class="details">
            <form>
                <div class="status">
                  progress :  <span class="progress">{{progress}}</span>%
                <div slider id="flat-slider" model="progress"></div>
                </div>

                <label for="completion-date" class="date">est. completion date</label>
                <input ng-model="completionDate" name="completionDate" type="date">
                <button type="submit" class="update" ng-click="updateProgress(progress, completionDate, project.id)">Update</button>
            </form>
            <button class="help-btn active" ui-sref="codeKarmaParent.communityFeed">Ask for Help</button>
            <div class="tooltip">
              <button class="submit-btn" ng-click="devProjects.pullRequest()">Open a Pull Request</button>
              <p class="tooltiptext">submit a pull request to GitHub</p>
            </div>
        </div>
    </div>
</div>
