<div class="home-container">
  <img src="assets/lotus_blue.png">
  <h1>Code Karma</h1>
  <h2>Code for good.</h2>
  <button ng-click="home.scrollAbout()">About</button>

  <div class="continueBtnContainer">
    <button><a href='http://localhost:3000/auth/github?account=client'>Continue as Client</a></button>
    <button><a href='http://localhost:3000/auth/github?account=developer'>Continue as Developer</a></button>
  </div>

  <div class="about">
    <div class="aboutContainer">
      <h1>About</h1>
      <p>Code Karma is a motivational platform for developers to use their coding and design skills for good.</p>
    </div>

    <div class="aboutSubContainer">
      <div class="section">
        <h2>Our Mission</h2>
        <p>Mission stuff</p>
      </div>

      <div class="section">
        <h2>Our Team</h2>

        <div class="member">
          <img class="profile" src="assets/lotus_blue.png"/>
          <p class="memberName">Lindsey</p>
          <p>Front-End</p>
        </div>

        <div class="member">
          <img class="profile" src="assets/lotus_blue.png"/>
          <p class="memberName">Samantha</p>
          <p>Front End</p>
        </div>

        <div class="member">
          <img class="profile" src="assets/lotus_blue.png"/>
          <p class="memberName">Kristine</p>
          <p>Back-End</p>
        </div>

        <div class="member">
          <img class="profile" src="assets/lotus_blue.png"/>
          <p class="memberName">Tim</p>
          <p>Back-End</p>
        </div>

        <div class="member">
          <img class="profile" src="assets/lotus_blue.png"/>
          <p class="memberName">Dan</p>
          <p>Back-End</p>
        </div>

      </div>

      <div class="section">
        <h2>Media</h2>

        <div class="member">
          <img class="profile" src="assets/lotus_blue.png"/>
          <p>"Most professional looking website ever"</p>
        </div>

        <div class="member">
          <img class="profile" src="assets/lotus_blue.png"/>
          <p>"Made us feel good about ourselves"</p>
        </div>

      </div>

    </div>
  </div>
</div>
