<div class="home-container">
    <div class="main-container">
        <img src="assets/lotus_blue.png">
        <h1>Code Karma</h1>
        <h2>Code for good.</h2>
        <button ng-click="home.scrollAbout()">About</button>
        <div class="continueBtnContainer">
            <button><a href='https://code-karma-api.herokuapp.com/auth/github?account=client'>Continue as Client</a></button>
            <button><a href='https://code-karma-api.herokuapp.com/auth/github?account=developer'>Continue as Developer</a></button>
        </div>
    </div>
    <div class="about">
        <div class="aboutContainer">
            <h1>About</h1>
            <p>Code Karma is a motivational platform for developers to use their coding and design skills for good.</p>
        </div>
        <div class="aboutSubContainer">
            <div class="section">
                <h2>Our Mission</h2>
                <p class="mission">At Code Karma we believe in the democratizing influence of the world wide web. With the help of a strong web presence nonprofits can reach wider audiences, raise more funds and do more good. <br><br> However, many businesses can't afford
                    to build awesome websites that represent their mission and accomplish their goals. This is where Code Karma comes in. Developers looking to build their resumes, learn new skills or give back can sign up for nonprofit projects and earn
                    points by completing them or answering tech-related questions in the community feed. This way nonprofits get the help they need free of charge, and developers get to work on projects with real-world impact</p>
            </div>
            <div class="section">
                <h2>Our Team</h2>
                <div class="member">
                    <img class="profile" src="assets/lotus_blue.png" />
                    <p class="memberName">Lindsey</p>
                    <p>Front-End</p>
                </div>
                <div class="member">
                    <img class="profile" src="assets/lotus_blue.png" />
                    <p class="memberName">Samantha</p>
                    <p>Front End</p>
                </div>
                <div class="member">
                    <img class="profile" src="assets/lotus_blue.png" />
                    <p class="memberName">Kristine</p>
                    <p>Back-End</p>
                </div>
                <div class="member">
                    <img class="profile" src="assets/lotus_blue.png" />
                    <p class="memberName">Tim</p>
                    <p>Back-End</p>
                </div>
                <div class="member">
                    <img class="profile" src="assets/lotus_blue.png" />
                    <p class="memberName">Dan</p>
                    <p>Back-End</p>
                </div>
            </div>
            <div class="section">
                <h2>Media</h2>
                <div class="member">
                    <img class="profile" src="assets/nytimesLogo.png" />
                    <p>"Most professional looking website ever"</p>
                </div>
                <div class="member">
                    <img class="profile" src="assets/wiredLogo.png" />
                    <p>"Made us feel good about ourselves"</p>
                </div>
                <div class="member">
                    <img class="profile" src="assets/forbesLogo.png" />
                    <p>"The next big thing"</p>
                </div>
            </div>
        </div>
    </div>
</div>
