<div class="home-container">
    <div class="main-container">
        <img src="assets/lotus_blue.png">
        <h1>Code Karma</h1>
        <h2>Code for good.</h2>
    </div>

    <button ng-click="home.scrollAbout()" class="aboutBtn">About</button>

    <div class="continueBtnContainer">
        <button class="client"><a href='https://code-karma-api.herokuapp.com/auth/github?account=client'>Continue as Client</a></button>
        <button class="developer"><a href='https://code-karma-api.herokuapp.com/auth/github?account=developer'>Continue as Developer</a></button>
    </div>

    <div class="about">
        <div class="aboutContainer">
            <h1>About</h1>
            <p class="about-text">Code Karma is a motivational platform for developers to use their coding and design skills for good.</p>
            <div class="about-nav">
                <a ng-click="home.scrollMission()">Mission</a>
                <a ng-click="home.scrollTeam()">Team</a>
                <a ng-click="home.scrollMedia()">Media</a>
            </div>
        </div>
        <div class="aboutSubContainer">
            <div class="section mission">
                <h2>Our Mission</h2>
                <p class="mission">At Code Karma we believe in the democratizing influence of the world wide web. With the help of a strong web presence nonprofits can reach wider audiences, raise more funds and do more good. <br><br> However, many businesses can't afford
                    to build awesome websites that represent their mission and accomplish their goals. This is where Code Karma comes in. Developers looking to build their resumes, learn new skills or give back can sign up for nonprofit projects and earn
                    points by completing them or answering tech-related questions in the community feed. This way nonprofits get the help they need free of charge, and developers get to work on projects with real-world impact.</p>
            </div>
            <div class="section team">
                <h2>Our Team</h2>
                <div class="back-end">
                    <div class="member">
                        <img class="profile" src="assets/ktHeadshot.jpg"/>
                        <p class="memberName">Kristine Teichmann</p>
                        <p>Back-End</p>
                    </div>
                    <div class="member">
                        <img class="profile" src="assets/thHeadshot.jpg" />
                        <p class="memberName">Tim Hsieh</p>
                        <p>Back-End</p>
                    </div>
                    <div class="member">
                        <img class="profile" src="assets/dgHeadshot.jpg" />
                        <p class="memberName">Dan Griffiths</p>
                        <p>Back-End</p>
                    </div>
                </div>
                <div class="front-end">
                    <div class="member">
                        <img class="profile" src="assets/laHeadshot.png" />
                        <p class="memberName">Lindsey Adams</p>
                        <p>Front-End</p>
                    </div>
                    <div class="member">
                        <img class="profile" src="assets/sdHeadshot.jpg" />
                        <p class="memberName">Samantha Davis</p>
                        <p>Front-End</p>
                    </div>
                </div>
            </div>
            <div class="section media">
                <h2>Media</h2>
                <div class="member testimonial">
                    <img class="mediaPic" src="assets/all_is_well.png" />
                    <p>“An excellent resource to git a site up and running!"</p>
                </div>
                <div class="member testimonial">
                    <img class="mediaPic" src="assets/PawLogo.png" />
                    <p>“A purrfect match of technology and creativity."</p>
                </div>
                <div class="member testimonial">
                    <img class="mediaPic" src="assets/NannyDash.png" />
                    <p>"A great way to maintain skills and stay code-ivated. We can't wait to use it!"</p>
                </div>
                <div class="member testimonial">
                    <img class="mediaPic" src="assets/quest_creator.png" />
                    <p>“A simple platform for enabling developers to work directly with clients."</p>
                </div>
            </div>
            <button class=to-top-btn ng-click="home.scrollTop()">Back to Top</button>
        </div>
    </div>
</div>
