.all-projects-container {
    align-items: center;
    background: $lightGrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    padding: 40px 0;
    width: 80%;
    height: 100vh;

    .project-card {
        background: $white;
        border: 1px solid $midGrey;
        padding: $vspace $hspace;
        height: 120px;
        width: 60%;

        h3 {
            font-size: 30px;
        }

        .project-contents {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 99.5px;

            p {
                align-self: center;
                padding: $vspace $hspace;
            }

            .details-btn {
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                border: none;
                height: 40px;
                width: 100px;
                align-self: center;

                &:focus {
                    outline: 0;
                }
            }
        }
    }

    .details {
        border: 1px solid $midGrey;
        background: $white;
        border-top: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        padding: $vspace $hspace;
        width: 60%;

        li {
            margin: $vspace $hspace;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .fork-btn {
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            border: none;
            height: 40px;
            width: 100px;
            align-self: center;

            &:focus {
                outline: 0;
            }
        }
    }
}
