.all-projects-container {
    align-items: center;
    background: $lightGrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 100vh;

    .searchForm {
        display: flex;
        margin: 40px 0 0;
        width: 60%;
        margin-bottom: 40px;

        textarea {
            resize: none;
            height: 20px;
            padding: 10px;
            border: none;
            line-height: 20px;
            outline: none;
            width: 100%;
            border-radius: 5px 0 0 5px;
            box-shadow: $box-shadow;
            @include placeholder {
                color: $midGrey;
            }
        }

        .searchBtn {
            border-radius: 0 5px 5px 0;
            width: 100px;
            border: none;
            outline: none;
            height: 42px;
            margin: 0;
            box-shadow: $box-shadow;
            padding: 0;

            &:hover {
                background: $pop;
            }
        }
    }

    .project-card {
        background: $white;
        height: 160px;
        width: 60%;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h3 {
                font-size: 30px;
                padding: $vspace 0 0 $hspace;
            }

            .categories {
                display: flex;
                flex-direction: column;
                margin: $vspace $hspace;

                .category-image {
                    display: flex;
                    justify-content: center;
                    position: relative;

                    &:hover .tooltiptext {
                        display: block;
                    }

                    img {
                        height: 35px;
                    }

                    .tooltiptext {
                        background: $pop;
                        border-radius: $border-radius;
                        color: $charcoal;
                        display: none;
                        font-size: 14px;
                        line-height: 16px;
                        left: 80%;
                        top: -10%;
                        padding: 5px;
                        position: absolute;
                        text-align: center;
                        width: 110px;
                        z-index: 5;

                        &:after {
                            content: " ";
                            position: absolute;
                            top: 45%;
                            right: 100%;
                            margin-top: -5px;
                            border-width: 8px;
                            border-style: solid;
                            border-color: transparent $pop transparent transparent;
                        }

                        span {
                            letter-spacing: .1em;
                        }
                    }
                }

                .languages {
                    align-self: center;
                    margin-top: $vspace;
                }
            }
        }

        .project-contents {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 99.5px;

            p {
                align-self: flex-start;
                padding: 0 $hspace;
            }

            .details-btn {
                padding: 10px;
                margin: 0 10px 10px;
                border-radius: 5px;
                border: 3px solid $white;
                height: 40px;
                width: 100px;
                align-self: flex-start;

                &:hover {
                    background: $pop;
                }

                &:focus {
                    outline: 0;
                }
            }
        }
    }

    .details {
        background: $white;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        border-top-left-radius: none;
        border-top-right-radius: none;
        box-shadow: $box-shadow;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        width: 60%;

        li {
            margin: $vspace $hspace;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .fork-btn {
            align-self: center;
            background: $pop;
            border-radius: 5px;
            border: 3px solid $white;
            display: flex;
            font-size: 16px;
            font-weight: bold;
            height: 40px;
            justify-content: center;
            margin: 10px;
            padding: 10px;
            width: 100px;

            img {
              height: 25px;
              margin-right: 10px;
              margin-top: -5px;

            }

            &:hover {
                border: 3px solid $charcoal;
            }

            &:focus {
                outline: 0;
            }
        }
    }
}
