.client-add-project-container {
    align-items: center;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 100vh;

    .project-card {
        background: $white;
        border: 1px solid $midGrey;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        padding: $vspace $hspace;
        width: 60%;
        margin-top: 40px;

        h3 {
            font-size: 30px;
            margin-bottom: $vspace;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .select-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80%;

                select {
                    background: $white;
                    border: 1px solid $midGrey;
                    font-family: $raleway;
                    font-size: 16px;
                    height: 25px;
                    margin-bottom: $vspace;
                    width: 30%;

                    &:focus {
                        outline: 0;
                    }
                }
            }

            label {
                margin-bottom: 10px;
                width: 80%;
            }

            input {
                width: 80%;
                height: 25px;
                margin-bottom: $vspace;
                text-indent: 10px;

                &:focus {
                    outline-color: $pop;
                }
            }

            .submit-btn {
                align-self: flex-end;
                @include button(15px) {};
                // width: 150px;
                // height: 40px;
                // padding: 10px;
                // margin: 10px;
                // border-radius: $border-radius;
                // border: none;
                // background: $midGrey;

                &:focus {
                    outline: 0;
                }

                &:hover {
                    background: $pop;
                    color: white;
                }
            }
        }
    }
}
