.client-add-project-container {
    align-items: center;
    display: flex;
    background: rgba(255,255,255, .6);
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    transition: $responsive;
    height: 100vh;
    @include media(desktop) {
        width: 85%;
    }
    @include media(desktopSmall) {
        width: 100%;
    }

    .project-card {
        background: $white;
        border: 1px solid $midGrey;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        padding: $vspace $hspace;
        width: 60%;
        margin-top: 40px;
        transition: $responsive;
        @include media(tabletLarge) {
          width: 75%;
          margin-bottom: 50px;
        }
        @include media(mobile) {
          width: 85%;
        }

        h3 {
            font-size: 30px;
            margin-bottom: $vspace;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .select-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80%;
                transition: $responsive;
                @include media(tablet) {
                  width: 90%;
                }
                @include media(mobile) {
                  width: 95%;
                }


                select {
                    background: $white;
                    border: 1px solid $midGrey;
                    font-family: $raleway;
                    font-size: 16px;
                    height: 25px;
                    margin-bottom: $vspace;
                    width: 30%;

                    &:focus {
                        outline: 0;
                    }
                }
            }

            label {
                margin-bottom: 10px;
                width: 80%;
                font-size: 1em;
                font-weight: bold;
                transition: $responsive;
                @include media(tablet) {
                  width: 90%;
                }
                @include media(tablet) {
                  width: 95%;
                }
            }

            input {
                width: 80%;
                height: 25px;
                margin-bottom: $vspace;
                text-indent: 10px;
                border: 1px solid $lightGrey;
                border-radius: 5px;
                transition: $responsive;
                @include media(tablet) {
                  width: 90%;
                }
                @include media(tablet) {
                  width: 95%;
                  text-indent: 3px;
                }

                &:focus {
                    outline-color: $pop;
                }
            }

            .submit-btn {
                align-self: flex-end;
                @include button(15px) {};

                &:focus {
                    outline: 0;
                }

                &:hover {
                    background: $pop;
                    color: white;
                }
            }
        }
    }
}
