.client-dashboard-container {
    background: $lightGrey;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    width: 80%;
    height: 100%;
    justify-content: space-around;

    .infoContainer {
        display: flex;
        flex-direction: column;

        p {
            display: inline;
        }

        .orgLink,
        .orgName {
            font-size: 20px;
            margin: $vspace $hspace;

            &:hover {
                color: $darkGrey;
            }

            &:hover > .editIcon {
                display: inline;
            }
        }

        .editIcon {
            width: 15px;
            margin-left: 10px;
            display: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .profilePic {
        width: 150px;
        height: 150px;
        border: 1px solid $darkGrey;
        margin: $vspace $hspace;
    }

    .createProjectsBtn,
    .myProjectsBtn {
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        height: 40px;
        width: 200px;
    }
}
