.client-dashboard-container {
    background: $lightGrey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100vh;
    justify-content: flex-start;

    .btnContainer {
        margin: 40px 0 20px;
        display: flex;
        justify-content: center;
        background: $white;
        width: 402px;
        border-radius: 5px;

        .createProjectsBtn,
        .myProjectsBtn {
            @include button(12px) {};

            &:hover {
                background: $pop;
            }

            &:hover > a {
                color: white;
            }
        }

        a {
            text-decoration: none;
            color: $darkGrey;
            font-size: 15px;
            font-family: $raleway;
        }
    }

    .infoContainer {
        display: flex;
        width: 402px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: $white;
        box-shadow: $box-shadow;
        border-radius: 5px;

        .profilePic {
            margin-top: 20px;
            width: 150px;
            height: 150px;
            box-shadow: $box-shadow;
            border-radius: 50%;
            margin: $vspace $hspace;

            img {
                width: 150px;
                border-radius: 50%;
                box-shadow: $box-shadow;
            }
        }

        &:hover > .orgLink > p {
            background: $pop;
        }

        &:hover > .orgName > p {
            background: $pop;
        }

        &:hover > .orgName > .editIcon {
            display: inline;
        }

        &:hover > .orgLink > .editIcon {
            display: inline;
        }

        p {
            display: inline;
        }

        .gitHubLink,
        .name,
        .orgLink,
        .orgName {
            font-size: 20px;
            margin: $vspace $hspace;

            input {
                width: 250px;
                font-size: 20px;
                outline: none;
                border: 1px solid $lightGrey;
                font-family: $raleway;
                padding: 2px; 
            }

            .save {
              background: none;
              border: 3px solid $pop;
              border-radius: 5px;
              color: $pop;
              font-size: 12px;
              font-weight: bold;
              margin: 10px;
              padding: 6px;
              position: relative;
              text-transform: uppercase;
              outline: none;
            }
        }

        .editIcon {
            width: 15px;
            margin-left: 10px;
            display: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
