.community-feed-container {
    background: $lightGrey;
    width: 80%;
    height: 100%;

    .flexContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .feed {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .postForm {
            display: flex;
            margin: 40px 0 0;
            width: 100%;
            margin-bottom: 40px;

            textarea {
                resize: none;
                font-size: 18px;
                height: 20px;
                padding: 10px;
                border: none;
                outline: none;
                width: 100%;
                border-radius: 5px 0 0 5px;
                @include placeholder {
                    color: $darkGrey;
                    font-size: 18px;
                }
            }

            .askBtn {
                border-radius: 0 5px 5px 0;
                width: 100px;
                border: none;
                outline: none;
                height: 41px;
                margin: 0;
                padding: 0;
                font-family: $raleway;
                font-size: 1em;

                &:hover {
                    background: $pop;
                    color: white;
                }
            }
        }

        .commPost {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            background: $white;
            border: 1px solid $midGrey;
            padding: $vspace $hspace;
            width: 100%;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            margin-bottom: 20px;

            .postContainer {
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;

                .questioner-img {
                    // border: 1px solid $lightGrey;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin-bottom: 15px;
                }

                .question {
                    width: 60%;
                    padding: 10px;
                    color: $darkGrey;
                }

                img.like {
                    width: 25px;
                    height: 25px;
                    border-radius: 5px;

                    &:hover {
                        background: $pop;
                    }
                }
            }

            .postInfoContainer {
                display: flex;
                justify-content: space-between;
            }

            .responsesContainer {
                box-sizing: border-box;

                .response {
                    display: flex;
                    justify-content: flex-start;
                    box-sizing: border-box;
                    margin: $vspace 0;
                    width: 100%;
                    background: $lightGrey;
                    border-radius: 5px;
                    color: dimgray;
                    padding: 10px;

                    .commenter-photo {
                      height: 40px;
                      border-radius: 50%;
                      border: 2px solid $pop;
                      align-self: center;
                    }

                    .comment {
                      align-self: center;
                    }

                    .comment-container {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;


                    .commenter-name {
                      margin: $vspace $hspace;
                      font-weight: bold;
                      color: $charcoal;
                    }

                    .comment-data {
                      align-self: flex-start;
                      display: flex;
                      justify-content: flex-end;
                      flex-direction: row;
                      margin: 10px 0 0 $hspace;
                    }

                    .comment-time, .like-text, .like-comment {
                      align-self: flex-end;
                    }

                    .comment-time {
                      font-size: 12px;
                      margin-right: 15px;
                    }

                    .like-text {
                      font-size: 14px;
                      margin-right: 5px;
                    }

                    .like-comment {
                      height: 14px;
                    }
                  }
                }
            }

            .responseForm {
                display: flex;

                textarea {
                    box-sizing: border-box;
                    width: 100%;
                    resize: none;
                    padding: 10px;
                    border: 1px solid $lightGrey;
                    outline: none;
                    height: 36px;
                    border-radius: 5px 0 0 5px;
                    @include placeholder {
                        color: $midGrey;
                    }
                }

                .respondBtn {
                  border-radius: 0 5px 5px 0;
                  width: 100px;
                  border: none;
                  outline: none;
                  margin: 0;
                  font-family: $raleway;
                  font-size: 1em;

                    &:hover {
                        background: $pop;
                        color: white;
                    }
                }
            }
        }
    }

    .sidebar {
        width: 25%;

        .user-stats {
            background: $white;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            width: 100%;

            img.user-photo {
                width: 80px;
                border-radius: 50%;
                box-shadow: $box-shadow;
                margin: $vspace 0;
            }
        }

        .username {
            margin-bottom: 8px;
        }

        .points {
            margin-bottom: $vspace;
        }

        .rank {
            margin-bottom: $vspace;
        }
    }

    .leaderboard {
        background: $white;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        height: 250px;
        margin-top: 40px;
        margin-right: $hspace;
        width: 100%;

        hr {
            width: 90%;
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }

        li {
            display: flex;
            flex-direction: row;
            line-height: 30px;
            width: 100%;
            margin: $vspace $hspace;

            h3 {
                margin-top: $vspace;
            }

            .prof-pic {
                height: 30px;
                width: 15%;
                margin-right: $hspace;
                background: $lightGrey;
            }

            .rank {
                width: 12%;
            }

            .username {
                margin-right: $hspace;
                width: 25%;
            }

            .points {
                align-content: flex-end;
                width: 32%;
                text-align: right;
            }
        }
    }
}
