.community-feed-container {
    background: rgba(255,255,255, .6);
    width: 80%;
    height: 100%;
    transition: all 0.5s ease;
    @include media(desktop) {
        width: 85%;
    }
    @include media(desktopSmall) {
        width: 100%;
    }

    header {
      @include media(tablet) {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .mobile-nav {
        height: 85px;
      h1 {
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }

      img {
        position: absolute;
        z-index: 3;
        top: 50px;
        left: 46%;
      }
    }


    .flexContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @include media(mobileLarge) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        .feed {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            transition: all 0.5s ease;
            @include media(desktopSmall) {
                width: 55%;
            }
            @include media(mobileLarge) {
                width: 85%;
            }
        }

        .postForm {
            display: flex;
            margin: 40px 0;
            width: 100%;
            @include media(mobileLarge) {
                margin: 30px 0;
            }

            textarea {
                resize: none;
                background: $lightGrey;
                font-size: 18px;
                height: 20px;
                padding: 10px;
                border: none;
                outline: none;
                width: 100%;
                border-radius: 5px 0 0 5px;
                @include placeholder {
                    color: $darkGrey;
                    font-size: 18px;
                }
            }

            .askBtn {
                border-radius: 0 5px 5px 0;
                width: 100px;
                border: none;
                outline: none;
                height: 41px;
                margin: 0;
                padding: 0;
                font-family: $raleway;
                font-size: 1em;

                &:hover {
                    background: $pop;
                    color: white;
                }
            }
        }

        .commPost {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            background: $white;
            border-left: $accent-border;
            padding: $vspace $hspace;
            width: 100%;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            margin-bottom: 20px;

            .postContainer {
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                margin-bottom: $vspace;

                .questioner-img {
                    border-radius: $border-radius;
                    width: 50px;
                    height: 50px;
                    margin-right: $hspace;
                }

                .question {
                    width: 60%;
                    color: $darkGrey;
                    align-self: center;
                }

                .like-container {
                    display: flex;
                    flex-direction: column;

                    .likeAmount {
                        align-self: flex-end;
                        text-align: right;
                    }

                    img.like {
                        align-self: flex-end;
                        width: 25px;
                        height: 25px;
                        border-radius: 5px;
                        margin-bottom: 10px;

                        &:hover {
                            background: $pop;
                            cursor: pointer;
                        }
                    }
                }
            }

            .postInfoContainer {
                display: flex;
                justify-content: space-between;
                margin-bottom: $vspace;

                h1 {
                    font-weight: bold;
                }
            }

            .responsesContainer {
                box-sizing: border-box;

                .response {
                    display: flex;
                    justify-content: flex-start;
                    box-sizing: border-box;
                    margin-bottom: $vspace;
                    width: 100%;
                    background: $lightGrey;
                    border-radius: 5px;
                    color: dimgray;
                    padding: 10px;

                    .commenter-photo {
                        width: 35px;
                        border-radius: $border-radius;
                        align-self: flex-start;
                        margin-right: $hspace;
                    }

                    .comment {
                        align-self: flex-start;
                    }

                    .comment-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .commenter-name {
                            margin: $vspace $hspace $vspace 0;
                            font-size: 14px;
                            font-weight: bold;
                            color: $charcoal;
                        }

                        .comment-data {
                            align-self: flex-start;
                            display: flex;
                            justify-content: flex-end;
                            flex-direction: row;
                            margin: 10px 0 0;
                        }

                        .comment-time,
                        .like-comment,
                        .like-text {
                            align-self: flex-end;
                        }

                        .comment-time {
                            font-size: 12px;
                            margin-right: 15px;
                        }

                        .like-text {
                            font-size: 14px;
                            margin-right: 5px;
                        }

                        .like-comment {
                            height: 14px;
                        }
                    }
                }
            }

            .responseForm {
                display: flex;

                textarea {
                    box-sizing: border-box;
                    width: 100%;
                    resize: none;
                    padding: 10px;
                    border: 1px solid $lightGrey;
                    outline: none;
                    height: 36px;
                    border-radius: 5px 0 0 5px;
                    @include placeholder {
                        color: $midGrey;
                    }
                }

                .respondBtn {
                    border-radius: 0 5px 5px 0;
                    width: 100px;
                    border: none;
                    outline: none;
                    margin: 0;
                    font-family: $raleway;
                    font-size: 1em;

                    &:hover {
                        background: $pop;
                        color: white;
                    }
                }
            }
        }
    }

    .sidebar {
        width: 25%;
        @include media(desktop) {
            width: 30%;
        }
        @include media(desktopSmall) {
            width: 33%;
        }
        @include media(tablet) {
            width: 35%;
        }
        @include media(mobileLarge) {
            width: 85%;
        }

        .user-stats {
            background: rgba(230,232,230, .6);
            border-radius: $border-radius;
            border-bottom: $accent-border;
            box-shadow: $box-shadow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            transition: all 0.5s ease;
            width: 100%;
            @include media(mobileLarge) {
                display: block;
                border: none;
                box-shadow: none;
                background: none;
                margin-top: 30px;
            }
            @include media(mobileSmall) {
                display: flex;
            }

            img.user-photo {
                width: 90px;
                border-radius: 10px;
                box-shadow: $box-shadow;
                margin: $vspace 0;
                @include media(mobileLarge) {
                    width: 50px;
                    margin: $vspace $hspace 0;
                    float: left;
                }
                @include media(mobileSmall) {
                    float: none;
                    margin-top: 0;
                }
            }

            hr {
                width: 90%;
                border: 0;
                height: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                @include media(mobileLarge) {
                    display: none;
                }
            }
        }

        .userstat-username {
            margin-bottom: 8px;
            font-weight: bold;
            font-size: 20px;
            @include media(mobileLarge) {
                padding-top: $vspace;
            }
            @include media(mobileSmall) {
                margin: 5px 0;
                padding-top: 0;
            }
        }

        .points {
            margin: 8px 0;
            @include media(mobileLarge) {
                margin: 0;
                float: left;
            }
        }

        p.rank {
            margin-bottom: $vspace;
            @include media(mobileLarge) {
                text-align: right;
                padding-right: $hspace;
                margin-bottom: 0;
            }
            @include media(mobile) {
                clear: both;
            }
            @include media(mobileSmall) {
                padding-top: 5px;
            }

            span {
                font-weight: bold;
            }
        }
    }

    .leaderboard {
        background: rgba(230,232,230, .6);
        border-radius: $border-radius;
        border-bottom: $accent-border;
        box-shadow: $box-shadow;
        font-size: 14px;
        margin-top: 40px;
        margin-right: $hspace;
        width: 100%;
        @include media(mobileLarge) {
            display: none;
        }

        h3 {
            text-align: center;
            width: 100%;
            color: $charcoal;
            letter-spacing: 0.1em;
            background: $pop;
            padding: $vspace 0;
            font-weight: bold;
            font-size: 18px;
            @include media(tablet) {
                font-size: 16px;
            }
        }

        li {
            background: $lightGrey;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 40px;
            width: 100%;
            padding: 10px 0;

            &:nth-child(odd) {
                background: $white;
            }

            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                -webkit-box-shadow: 0 8px 6px -6px black;
                -moz-box-shadow: 0 8px 6px -6px black;
                box-shadow: 0 8px 6px -6px black;
            }

            .flex-left {
                display: flex;
                justify-content: left;
                align-self: left;
                width: 100%;
                @include media(tabletLarge) {
                    font-size: 14px;
                }

                .prof-pic-container {
                    margin-right: $hspace;
                    display: flex;
                    justify-content: center;

                    .prof-pic {
                        width: 40px;
                        border-radius: 10px;
                        align-self: center;
                    }
                }

                .rank {
                    margin: 0 $hspace;
                    width: 20px;
                    font-size: 16px;
                    @include media(tabletLarge) {
                        width: 15px;
                    }
                }

                .leader-username {
                    margin-right: $hspace;
                    font-size: 16px;
                }
            }

            .points {
                text-align: right;
                margin: 0 $hspace 0 0;
                align-self: flex-end;
                line-height: 18px;
                font-size: 18px;
                @include media(tabletLarge) {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
    }
}
