.dev-projects-container {
    background: $lightGrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    width: 80%;
    height: 100vh;

    .project-card {
        background: $white;
        margin-bottom: 40px;
        padding: $vspace $hspace;
        height: 120px;
        width: 60%;
        box-shadow: $box-shadow;
        border-radius: $border-radius;

        h3 {
            font-size: 30px;
        }

        .details {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

            form {
                display: flex;
                flex-direction: column;
                margin: $vspace $hspace;

                label {
                  margin-top: $vspace;
                }
            }

            .help-btn,
            .submit-btn {
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                border: none;
                height: 40px;
                width: 100px;
                align-self: center;

                &:focus {
                    outline: 0;
                }
            }
        }
    }
}
