.dev-projects-container {
    background: $lightGrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    width: 80%;
    height: 100vh;

    .project-card {
        background: $white;
        margin-bottom: 40px;
        padding: $vspace $hspace;
        width: 60%;
        height: 200px;
        box-shadow: $box-shadow;
        border-radius: $border-radius;

        h3 {
            font-size: 30px;
        }

        .details {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

            form {
                display: flex;
                flex-direction: column;
                margin: $vspace $hspace;

                select {
                  background: $white;
                  border: 1px solid $midGrey;
                  font-family: $raleway;
                  font-size: 16px;
                  height: 25px;
                }

                label {
                  margin: $vspace 0 10px 0;
                }

                input {
                  border-radius: $border-radius;
                  border: 1px solid $midGrey;
                  font-family: $raleway;
                  font-size: 16px;
                  height: 25px;
                }
            }

            .help-btn,
            .submit-btn {
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                border: none;
                height: 40px;
                width: 100px;
                align-self: center;

                &:focus {
                    outline: 0;
                }
            }
        }
    }
}
