.dev-dashboard-container {
    background: $lightGrey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: flex-start;
    transition: all .5s ease;

    @include media(tablet) {
      width: 100%;
    }

    .btnContainer {
        margin: 40px 0 20px;
        display: flex;
        justify-content: center;
        background: $pop;
        width: 460px;
        border-radius: 5px;
        box-shadow: $box-shadow;
        transition: all .5s ease;

        @include media (mobileLarge) {
          width: 400px;
        }

        @include media (mobile) {
          width: 300px;
        }

        @include media (mobileSmall) {
          width: 280px;
        }

        a {
          text-decoration: none;
          color: $charcoal;
          font-size: 14px;
          font-family: $raleway;
          font-weight: bold;
          padding-bottom: 5px;

          @include media (mobile) {
            font-size: 13px;
          }

          @include media (mobileSmall) {
            font-size: 12px;
          }
        }

        .allProjectsBtn, .commFeedBtn, .myProjectsBtn {
          height: 50px;
          width: 33.33%;
          border: none;
          background: $pop;

          &:hover {
            background: $pop;
          }

          &:focus {
            outline: 0;
          }

        }

        .myProjectsBtn {
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;

          &:hover a {
            border-bottom: 5px solid $white;
          }
        }

        .allProjectsBtn {
          border-right: 3px solid $lightGrey;
          border-left: 3px solid $lightGrey;

          &:hover a {
            border-bottom: 5px solid $white;
          }
        }

        .commFeedBtn {
          border-bottom-right-radius: $border-radius;
          border-top-right-radius: $border-radius;

          &:hover a {
            border-bottom: 5px solid $white;
          }
        }

        // .allProjectsBtn,
        // .commFeedBtn,
        // .myProjectsBtn {
        //   @include button(15px){};
        //
        //     &:hover {
        //       background: $pop;
        //     }
        //
        //     &:hover > a {
        //       color: white;
        //     }
        // }
    }

    .infoContainer {
        display: flex;
        width: 460px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: $white;
        box-shadow: $box-shadow;
        border-radius: 5px;
        margin-bottom: 50px;
        transition: all .5s ease;

        @include media (mobileLarge) {
          width: 400px;
        }

        @include media (mobile) {
          width: 300px;
        }

        @include media (mobileSmall) {
          width: 280px;
        }

        img.profilePic {
            margin-top: 20px;
            height: 150px;
            box-shadow: $box-shadow;
            border-radius: 50%;
            margin: $vspace $hspace;
            border: none;
        }

        &:hover > .skills > p.skills-list {
          background: $pop;
        }

        &:hover > .skills > .editIcon {
          display: inline;
        }

        p {
            display: inline;
        }

        .gitHubLink,
        .name,
        .skills {
            font-size: 20px;
            margin: $vspace $hspace;

            input {
                width: 250px;
                font-size: 20px;
                outline: none;
                border: 1px solid $lightGrey;
                font-family: $raleway;
                padding: 2px;
            }

            .save {
              background: none;
              border: 3px solid $pop;
              border-radius: 5px;
              color: $pop;
              font-size: 12px;
              font-weight: bold;
              margin: 10px;
              padding: 6px;
              position: relative;
              text-transform: uppercase;
              outline: none;
            }
        }

        .rank,
        .points,
        .contributions,
        .skills {
          height: 20px;
          width: 100%;
          text-align: center;
          border-top: 1px solid lightGrey;
          font-size: 20px;
          padding: $vspace 0;
          margin: 0;
        }

        .skills {
          height: auto;

          p {
            display: block;
            margin-bottom: $vspace;
          }
        }

        .editIcon {
            width: 15px;
            margin-left: 10px;
            display: none;

            &:hover {
                cursor: pointer;
            }
        }

        .skills-header {
          font-weight: bold;
        }
    }
}
