.dev-dashboard-container {
    background: $lightGrey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 80%;
    // height: 100vh;
    justify-content: flex-start;

    .btnContainer {
        margin: 40px 0 20px;
        display: flex;
        justify-content: center;

        a {
          text-decoration: none;
          color: $darkGrey;
          font-size: 14px;
          font-family: $raleway;
        }

        .allProjectsBtn,
        .commFeedBtn,
        .myProjectsBtn {
            padding: 10px;
            height: 40px;
            width: 133px;
            outline: none;
            border: none;
            background: $white;

            &:hover {
              // background: $pop;
            }
        }

        .commFeedBtn {
          border-radius: 0 5px 5px 0;
        }

        .myProjectsBtn {
          border-radius: 5px 0 0 5px;
        }
    }

    .infoContainer {
        display: flex;
        width: 402px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: $white;
        box-shadow: $box-shadow;
        border-radius: 5px;
        margin-bottom: 50px;

        .profilePic {
            margin-top: 20px;
            width: 150px;
            height: 150px;
            box-shadow: $box-shadow;
            border-radius: 50%;
            margin: $vspace $hspace;

            img {
              width: 150px;
              border-radius: 50%;
              box-shadow: $box-shadow;
            }
        }

        &:hover > .gitHubLink > p {
            background: $pop;
        }

        &:hover > .name > p {
            background: $pop;
        }

        &:hover > .skills > p {
          background: $pop;
        }

        &:hover > .name > .editIcon {
            display: inline;
        }

        &:hover > .gitHubLink > .editIcon {
            display: inline;
        }

        &:hover > .skills > .editIcon {
          display: inline;
        }

        p {
            display: inline;
        }

        .gitHubLink,
        .name,
        .skills {
            font-size: 20px;
            margin: $vspace $hspace;
        }

        .rank,
        .points,
        .contributions,
        .skills {
          height: 20px;
          width: 100%;
          text-align: center;
          border-top: 1px solid lightGrey;
          font-size: 20px;
          padding: $vspace 0;
          margin: 0;
        }

        .skills {
          height: auto;

          p {
            display: block;
          }
        }

        .editIcon {
            width: 15px;
            margin-left: 10px;
            display: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
