.dev-projects-container {
    background: $lightGrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 100vh;

    .project-card {
        background: $white;
        margin-bottom: 40px;
        padding: $vspace $hspace;
        width: 60%;
        box-shadow: $box-shadow;
        border-radius: $border-radius;

        h3 {
            font-size: 30px;
        }

        .details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            form {
                display: flex;
                flex-direction: column;
                margin: $vspace $hspace;

                select {
                    background: $white;
                    border: 1px solid $midGrey;
                    font-family: $raleway;
                    font-size: 16px;
                    height: 25px;

                    &:focus {
                        outline: 0;
                    }
                }

                label.date {
                    margin: 30px 0 $vspace 0;
                }

                input {
                    border-radius: $border-radius;
                    border: 1px solid $midGrey;
                    font-family: $raleway;
                    font-size: 16px;
                    height: 25px;

                    &:focus {
                        outline: 0;
                    }
                }
            }

            .help-btn,
            .submit-btn {
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                border: none;
                height: 40px;
                width: 100px;
                align-self: center;

                &:hover {
                    background: $pop;
                }

                &:focus {
                    outline: 0;
                }
            }
        }
    }
}

.dev-projects-container .tooltip {
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
    align-self: center;

    &:hover .tooltiptext {
        display: block;
    }

    .tooltiptext {
        background: $pop;
        border-radius: $border-radius;
        color: $charcoal;
        display: none;
        font-size: 12px;
        line-height: 16px;
        left: 100%;
        top: -10%;
        padding: 5px;
        position: absolute;
        text-align: center;
        width: 120px;
        z-index: 5;

        &:after {
            content: " ";
            position: absolute;
            top: 45%;
            right: 100%;
            margin-top: -5px;
            border-width: 8px;
            border-style: solid;
            border-color: transparent $pop transparent transparent;
        }
    }
}
