.dev-projects-container {
    background: $lightGrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 80%;
    height: 100vh;

    .pull-request-modal {
        padding: 15px;
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 30%;
        z-index: 5;
        background: $white;
        box-shadow: 0 0 200px 40px rgba(79,79,79,1);
        border-radius: 5px;

        img {
          width: 30px;
          position: absolute;
          right: -5px;
          top: -5px;
        }

        h1 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        p {
            padding: 5px;
            margin: 5px;
        }

        .select-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .sub-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 10px;
                border-top: 1px solid $lightGrey;
                border-left: 1px solid $lightGrey;
                position: relative;

                select {
                    width: 50%;
                    font-size: 15px;
                    border: none;
                    outline: none;
                    height: 20px;
                    margin: 0 5px 10px 10px;
                    background: $pop;

                }

                p {
                    padding: 5px;
                    margin: 10px 5px 5px 10px;

                    span {
                        padding: 1px 8px 3px;
                        background: white;
                        border-radius: 50%;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                        color: $midGrey;
                        font-size: 20px;
                        border-top: 1px solid $lightGrey;
                        border-left: 1px solid $lightGrey;
                    }
                }
            }

            .sub-container:nth-child(2) {
              margin-left: 15px;
            }
        }
    }

    .project-card {
        background: $white;
        align-self: flex-start;
        padding: $vspace $hspace 0;
        margin-top: 40px;
        width: 60%;
        box-shadow: $box-shadow;
        border-radius: $border-radius;

        h3 {
            font-size: 30px;
        }

        .details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            form {
                display: flex;
                flex-direction: column;
                margin: $vspace $hspace;

                select {
                    background: $white;
                    border: 1px solid $midGrey;
                    font-family: $raleway;
                    font-size: 16px;
                    height: 25px;

                    &:focus {
                        outline: 0;
                    }
                }

                label.date {
                    margin: 30px 0 $vspace;
                }

                input {
                    border-radius: $border-radius;
                    border: 1px solid $midGrey;
                    font-family: $raleway;
                    font-size: 16px;
                    height: 25px;

                    &:focus {
                        outline: 0;
                    }
                }
            }

            .help-btn,
            .submit-btn {
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                border: none;
                height: 40px;
                width: 100px;
                align-self: center;

                &:hover {
                    background: $pop;
                }

                &:focus {
                    outline: 0;
                }
            }
        }
    }
}

.dev-projects-container .tooltip {
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
    align-self: center;

    &:hover .tooltiptext {
        display: block;
    }

    .tooltiptext {
        background: $pop;
        border-radius: $border-radius;
        color: $charcoal;
        display: none;
        font-size: 12px;
        line-height: 16px;
        left: 100%;
        top: -10%;
        padding: 5px;
        position: absolute;
        text-align: center;
        width: 120px;
        z-index: 5;

        &:after {
            content: " ";
            position: absolute;
            top: 45%;
            right: 100%;
            margin-top: -5px;
            border-width: 8px;
            border-style: solid;
            border-color: transparent $pop transparent transparent;
        }
    }
}

.dev-projects-container .update {
    padding: 10px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 100px;

    &:hover {
        background: $pop;
    }
}
