.home-container {
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 80%;
    height: 100vh;

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: transparent;
    }

    button {
        height: 50px;
        border: none;
        background: $pop;
        margin: 0 10px;
        border-radius: 5px;
        padding: 10px;
        width: 215px;
        outline: none;

        &:hover {
            background: darken($pop, 10%);
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;
        color: $charcoal;
        font-size: 15px;
        font-family: $raleway;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        transition: color 0.2s ease;
    }

    .aboutBtn {
        height: 50px;
        border: none;
        background: $pop;
        margin: 0 0 20px;
        border-radius: 5px;
        padding: 10px;
        width: 200px;
        font-family: $raleway;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        outline: none;

        &:hover {
            background: darken($pop, 10%);
            cursor: pointer;
        }
    }

    .continueBtnContainer {
        display: flex;
        justify-content: center;
        transition: all 0.5s ease;
    }

    h1 {
        font-size: 4em;
        text-align: center;
    }

    h2 {
        margin: 20px 0;
        font-size: 1.5em;
        align-self: center;
    }

    .about {
        display: flex;
        height: 130vh;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: 100vh;
        background: $white;
        width: 80%;

        .aboutContainer {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .aboutSubContainer {
            display: flex;
            justify-content: center;
            padding: 10px;

            .mission {
                flex-shrink: 20;
            }

            .section {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin: 15px;
                border: 1px solid darken(white, 5%);
                padding: 10px;

                h2 {
                    color: $pop;
                    border-bottom: 1px solid $midGrey;
                }

                p {
                    color: $darkGrey;
                    line-height: 1.25;
                    text-align: center;
                }

                .member {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;

                    .memberName {
                        font-weight: bold;
                        font-size: 20px;
                    }

                    .profile {
                        width: 50px;
                        border-radius: 50%;
                    }

                    .mediaPic {
                        width: 50px;
                    }
                }
            }
        }
    }
}
