.home-container {
  background: $white;
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  width: 80%;
  height: 100vh;

  button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: none;
    width: 150px;
    background: $pop;

    &:hover {
      background: $pop;
    }

    .continueBtnContainer {
      display: flex;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }

  h1 {
    font-size: 5em;
  }

  h2 {
    margin: 20px 0;
    font-size: 1.5em;
  }

  .about {
    display: flex;
    height: 130vh;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 100vh;
    background: $white;
    width: 80%;

    .aboutContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .aboutSubContainer {
      display: flex;
      justify-content: space-around;
      padding: 10px;

      .section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        h2 {
          color: $pop;
          border-bottom: 1px solid $midGrey;
        }

        p {
          color: $darkGrey;
        }

        .member {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 20px;

          .memberName {
            font-weight: bold;
            font-size: 20px;
          }

          .profile {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
