.home-container {
    background: linear-gradient(rgba(black, .75), rgba(black, -0.6)), url('../../assets/hero.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100vh;
    transition: $responsive;
    @include media(mobile) {
        width: 100%;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: transparent;

        img {
            width: 66%;
            margin: 75px auto 15px;
            transition: $responsive;
            @include media(mobileLarge) {
                transform: scale(.75);
            }
            @include media(mobile) {
                transform: scale(.5);
            }
        }
    }

    button {
        height: 50px;
        border: none;
        background: $pop;
        box-shadow: $box-shadow;
        margin: 0 10px;
        border-radius: 5px;
        padding: 10px;
        width: 215px;
        outline: none;
        transition: $responsive;
        @include media(mobileLarge) {
            width: 150px;
        }

        &:hover {
            background: $white;
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;
        color: $charcoal;
        font-size: 15px;
        font-family: $raleway;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        transition: color 0.2s ease;
        @include media(mobileLarge) {
            font-size: 13px;
        }
    }

    .aboutBtn {
        height: 50px;
        border: none;
        background: $pop;
        margin: 0 0 20px;
        border-radius: 5px;
        padding: 10px;
        width: 200px;
        font-family: $raleway;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        outline: none;
        @include media(mobileLarge) {
            margin: 0 0 10px;
            font-size: 13px;
            width: 150px;
        }

        &:hover {
            background: $white;
            cursor: pointer;
        }
    }

    .continueBtnContainer {
        display: flex;
        justify-content: center;
        transition: $responsive;
        @include media(mobileLarge) {
            flex-direction: column;
        }

        .developer {
            @include media(mobileLarge) {
                margin: 10px;
            }
        }
    }

    h1 {
        font-size: 4em;
        text-align: center;
        transition: $responsive;
        color: white;
        font-weight: bold;
        @include media(mobileLarge) {
            font-size: 2.5em;
        }
    }

    h2 {
        margin: 20px 0 50px;
        font-size: 1.5em;
        align-self: center;
        color: white;
        font-weight: bold;
        letter-spacing: 3px;
        transition: $responsive;
        @include media(mobileLarge) {
            font-size: 1em;
            margin: 5px 0 30px;
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: 100vh;
        background: $white;
        width: 80%;
        @include media(desktopSmall) {
            margin-top: $vspace;
            padding-top: $vspace;
        }
        @include media(mobile) {
            width: 100%;
            background: linear-gradient(rgba(255,255,255, .6), rgba(255,255,255, .6)), url('../../assets/bright_squares.png');
        }

        .aboutContainer {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            @include media(mobileLarge) {
                padding: 10px;
            }

            h1 {
              color: $charcoal;
              margin: 20px 0;
            }

            .about-text {
                transition: $responsive;
                text-align: center;
                margin: 0 100px;
            }
            .about-nav {
              display: flex;
              margin: 20px;
              width: 33%;
              justify-content: space-around;

              a {
                text-decoration: none;
                position: relative;
                display: inline-block;
                transition: color 0.2s ease;
                padding: 3px 0;
                transition: $responsive;

                &:hover {
                    color: #aaa;
                    cursor: pointer;

                    &::after,
                    &::before {
                        width: 100%;
                        left: 0;
                    }
                }
              }

              a {
                  &::after,
                  &::before {
                      content: '';
                      position: absolute;
                      top: calc(100% + 5px);
                      width: 0;
                      right: 0;
                      height: 3px;
                  }

                  &::before {
                      transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
                      background: $darkGrey;
                  }

                  &::after {
                      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
                      background: $pop;
                  }
              }
            }
        }

        .aboutSubContainer {
            display: flex;
            justify-content: center;
            padding: 10px;
            transition: $responsive;
            flex-direction: column;
            @include media(tabletLarge) {
                flex-direction: column;
            }
            @include media(mobile) {
                padding: 0;
            }

            .mission {
                margin: 0 50px;
                line-height: 1.5;
                transition: $responsive;
                font-size: 20px;
                @include media(desktopSmall) {
                    flex-shrink: 2;
                }
            }

            .section {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin: 15px;
                border: 1px solid darken(white, 5%);
                padding: 10px;
                transition: $responsive;
                @include media(mobileLarge) {
                    border: 3px solid $pop;
                }

                h2 {
                    color: $pop;
                    border-bottom: 1px solid $midGrey;
                    text-align: center;
                    @include media(mobileLarge) {
                        color: $charcoal;
                        border: none;
                        font-weight: bold;
                    }
                }

                p {
                    color: $darkGrey;
                    line-height: 1.25;
                }

                .front-end {
                  display: flex;
                  width: 50%;
                  justify-content: space-around;
                }

                .back-end {
                  margin-bottom: 20px;
                  display: flex;
                  width: 75%;
                  justify-content: space-around;
                }

                .member {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;

                    .memberName {
                        font-weight: bold;
                        font-size: 20px;
                        transition: $responsive;
                        @include media(tabletLarge) {
                            margin: $vspace;
                        }
                    }

                    .profile {
                        width: 150px;
                        border-radius: 50%;
                    }

                    .mediaPic {
                        width: 50px;
                    }
                }
            }

            .section:nth-child(2) {
                .member {
                    @include media(tabletLarge) {
                        flex-direction: row;
                        margin-bottom: 15px;
                    }
                }
            }

            .to-top-btn {
              @include button(15px) {};
              align-self: center;
            }
        }
    }
}
