/****** Vendor Imports ******/
/********** Setup ***********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: url("../../assets/bright_squares.png");
  width: 100%;
  font-family: "Raleway", sans-serif;
  height: 100%; }

ui-view {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%; }

/***** Site Components ******/
.all-projects-container {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  padding-bottom: 40px; }
  .all-projects-container .searchForm {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%; }
    .all-projects-container .searchForm textarea {
      resize: none;
      height: 20px;
      padding: 10px;
      line-height: 20px;
      outline: none;
      width: 100%;
      border: 1px solid #e6e8e6;
      border-radius: 5px 0 0 5px; }
      .all-projects-container .searchForm textarea::-webkit-input-placeholder {
        color: #ced0ce; }
      .all-projects-container .searchForm textarea::-moz-placeholder {
        color: #ced0ce; }
      .all-projects-container .searchForm textarea:-moz-placeholder {
        color: #ced0ce; }
      .all-projects-container .searchForm textarea:-ms-input-placeholder {
        color: #ced0ce; }
    .all-projects-container .searchForm .searchBtn {
      border-radius: 0 5px 5px 0;
      width: 100px;
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      font-family: "Raleway", sans-serif;
      font-size: 1em; }
      .all-projects-container .searchForm .searchBtn:hover {
        background: #AAEFDF;
        color: white; }
  .all-projects-container .project-card {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #ced0ce;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 10px 0;
    padding-bottom: 20px;
    width: 60%; }
    .all-projects-container .project-card:first-of-type {
      margin-top: 0; }
    .all-projects-container .project-card .heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .all-projects-container .project-card .heading h3 {
        font-size: 30px;
        padding: 15px 0 0 10px; }
      .all-projects-container .project-card .heading .categories {
        display: flex;
        flex-direction: column;
        margin: 15px 10px; }
        .all-projects-container .project-card .heading .categories .category-image {
          display: flex;
          justify-content: center;
          position: relative; }
          .all-projects-container .project-card .heading .categories .category-image:hover .tooltiptext {
            display: block; }
          .all-projects-container .project-card .heading .categories .category-image img {
            height: 35px;
            margin-right: 10px; }
          .all-projects-container .project-card .heading .categories .category-image .tooltiptext {
            background: #AAEFDF;
            border-radius: 5px;
            color: #191919;
            display: none;
            font-size: 12px;
            line-height: 16px;
            left: 80%;
            top: -10%;
            padding: 5px;
            position: absolute;
            text-align: center;
            width: 120px;
            z-index: 5; }
            .all-projects-container .project-card .heading .categories .category-image .tooltiptext:after {
              content: " ";
              position: absolute;
              top: 45%;
              right: 100%;
              margin-top: -5px;
              border-width: 8px;
              border-style: solid;
              border-color: transparent #AAEFDF transparent transparent; }
            .all-projects-container .project-card .heading .categories .category-image .tooltiptext span {
              letter-spacing: 0.1em;
              display: block; }
        .all-projects-container .project-card .heading .categories .bold {
          font-weight: bold; }
        .all-projects-container .project-card .heading .categories .languages {
          align-self: center;
          margin: 15px 10px 0 0;
          display: inline; }
    .all-projects-container .project-card .project-contents {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 10px; }
      .all-projects-container .project-card .project-contents p {
        align-self: flex-start;
        padding: 0 10px; }
      .all-projects-container .project-card .project-contents .details-btn {
        background: none;
        border: 3px solid #AAEFDF;
        border-radius: 5px;
        color: #AAEFDF;
        display: block;
        font-size: 12px;
        font-weight: bold;
        margin: 10px;
        padding: 10px;
        position: relative;
        text-transform: uppercase;
        outline: none; }
        .all-projects-container .project-card .project-contents .details-btn:hover {
          background: #AAEFDF;
          color: white; }
        .all-projects-container .project-card .project-contents .details-btn:focus {
          outline: 0; }
  .all-projects-container .details {
    background: #ffffff;
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 15px; }
    .all-projects-container .details.active {
      display: flex; }
    .all-projects-container .details hr {
      width: 90%;
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .all-projects-container .details ul {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      margin: 0 10px; }
    .all-projects-container .details li {
      margin: 15px 10px; }
    .all-projects-container .details a {
      color: black; }
    .all-projects-container .details .fork-btn {
      background: #AAEFDF;
      border-radius: 5px;
      border: 3px solid #ffffff;
      display: flex;
      font-size: 16px;
      font-weight: bold;
      height: 40px;
      justify-content: center;
      margin-right: 20px;
      padding: 10px;
      width: 100px;
      align-self: flex-end; }
      .all-projects-container .details .fork-btn img {
        height: 25px;
        margin-right: 10px;
        margin-top: -5px; }
      .all-projects-container .details .fork-btn:hover {
        border: 3px solid #191919; }
      .all-projects-container .details .fork-btn:focus {
        outline: 0; }

.client-dashboard-container {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100vh;
  justify-content: flex-start; }
  .client-dashboard-container .btnContainer {
    margin: 40px 0 20px;
    display: flex;
    justify-content: center;
    background: #AAEFDF;
    width: 402px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #ced0ce;
    transition: all 0.5s ease; }
    .client-dashboard-container .btnContainer .createProjectsBtn,
    .client-dashboard-container .btnContainer .myProjectsBtn {
      height: 50px;
      width: 50%;
      border: none;
      background: #AAEFDF; }
      .client-dashboard-container .btnContainer .createProjectsBtn:hover,
      .client-dashboard-container .btnContainer .myProjectsBtn:hover {
        background: #AAEFDF; }
      .client-dashboard-container .btnContainer .createProjectsBtn:focus,
      .client-dashboard-container .btnContainer .myProjectsBtn:focus {
        outline: 0; }
    .client-dashboard-container .btnContainer a {
      text-decoration: none;
      color: #191919;
      font-size: 15px;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 5px;
      position: relative;
      display: inline-block;
      transition: color 0.2s ease; }
      .client-dashboard-container .btnContainer a:hover::after, .client-dashboard-container .btnContainer a:hover::before {
        width: 100%;
        left: 0; }
    .client-dashboard-container .btnContainer a::after, .client-dashboard-container .btnContainer a::before {
      content: '';
      position: absolute;
      top: calc(100% + 5px);
      width: 0;
      right: 0;
      height: 3px; }
    .client-dashboard-container .btnContainer a::before {
      transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      background: #4F4F4F; }
    .client-dashboard-container .btnContainer a::after {
      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: #ffffff; }
    .client-dashboard-container .btnContainer .myProjectsBtn {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      border-right: 3px solid #e6e8e6; }
    .client-dashboard-container .btnContainer .createProjectsBtn {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px; }
  .client-dashboard-container .infoContainer {
    display: flex;
    width: 402px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #ced0ce;
    border-radius: 5px; }
    .client-dashboard-container .infoContainer .profilePic {
      margin-top: 20px;
      width: 150px;
      height: 150px;
      box-shadow: 0px 0px 5px 0px #ced0ce;
      border-radius: 50%;
      margin: 15px 10px; }
      .client-dashboard-container .infoContainer .profilePic img {
        width: 150px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px #ced0ce; }
    .client-dashboard-container .infoContainer:hover > .orgLink > p {
      background: #AAEFDF; }
    .client-dashboard-container .infoContainer:hover > .orgName > p {
      background: #AAEFDF; }
    .client-dashboard-container .infoContainer:hover > .orgName > .editIcon {
      display: inline; }
    .client-dashboard-container .infoContainer:hover > .orgLink > .editIcon {
      display: inline; }
    .client-dashboard-container .infoContainer p {
      display: inline; }
    .client-dashboard-container .infoContainer .gitHubLink,
    .client-dashboard-container .infoContainer .name,
    .client-dashboard-container .infoContainer .orgLink,
    .client-dashboard-container .infoContainer .orgName {
      font-size: 20px;
      margin: 15px 10px; }
      .client-dashboard-container .infoContainer .gitHubLink input,
      .client-dashboard-container .infoContainer .name input,
      .client-dashboard-container .infoContainer .orgLink input,
      .client-dashboard-container .infoContainer .orgName input {
        width: 250px;
        font-size: 20px;
        outline: none;
        border: 1px solid #e6e8e6;
        font-family: "Raleway", sans-serif;
        padding: 2px; }
      .client-dashboard-container .infoContainer .gitHubLink .save,
      .client-dashboard-container .infoContainer .name .save,
      .client-dashboard-container .infoContainer .orgLink .save,
      .client-dashboard-container .infoContainer .orgName .save {
        background: none;
        border: 3px solid #AAEFDF;
        border-radius: 5px;
        color: #AAEFDF;
        font-size: 12px;
        font-weight: bold;
        margin: 10px;
        padding: 6px;
        position: relative;
        text-transform: uppercase;
        outline: none; }
    .client-dashboard-container .infoContainer .editIcon {
      width: 15px;
      margin-left: 10px;
      display: none; }
      .client-dashboard-container .infoContainer .editIcon:hover {
        cursor: pointer; }

.client-add-project-container {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 100vh; }
  .client-add-project-container .project-card {
    background: #ffffff;
    border: 1px solid #ced0ce;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #ced0ce;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    width: 60%;
    margin-top: 40px; }
    .client-add-project-container .project-card h3 {
      font-size: 30px;
      margin-bottom: 15px; }
    .client-add-project-container .project-card form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .client-add-project-container .project-card form .select-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%; }
        .client-add-project-container .project-card form .select-box select {
          background: #ffffff;
          border: 1px solid #ced0ce;
          font-family: "Raleway", sans-serif;
          font-size: 16px;
          height: 25px;
          margin-bottom: 15px;
          width: 30%; }
          .client-add-project-container .project-card form .select-box select:focus {
            outline: 0; }
      .client-add-project-container .project-card form label {
        margin-bottom: 10px;
        width: 80%; }
      .client-add-project-container .project-card form input {
        width: 80%;
        height: 25px;
        margin-bottom: 15px;
        text-indent: 10px; }
        .client-add-project-container .project-card form input:focus {
          outline-color: #AAEFDF; }
      .client-add-project-container .project-card form .submit-btn {
        align-self: flex-end;
        background: none;
        border: 3px solid #AAEFDF;
        border-radius: 5px;
        color: #AAEFDF;
        display: block;
        font-size: 15px;
        font-weight: bold;
        margin: 10px;
        padding: 10px;
        position: relative;
        text-transform: uppercase;
        outline: none; }
        .client-add-project-container .project-card form .submit-btn:focus {
          outline: 0; }
        .client-add-project-container .project-card form .submit-btn:hover {
          background: #AAEFDF;
          color: white; }

.editModal {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: -30px;
  align-items: center;
  justify-content: center;
  z-index: 6; }
  .editModal .modal-details {
    background: white;
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 200px 40px #4f4f4f;
    border-radius: 5px;
    position: relative; }
    .editModal .modal-details .minimize {
      position: absolute;
      right: -5px;
      top: -5px;
      border-radius: 50%; }
      .editModal .modal-details .minimize img {
        width: 30px; }
      .editModal .modal-details .minimize:hover {
        cursor: pointer; }
    .editModal .modal-details .updateBtn {
      background: none;
      border: 3px solid #AAEFDF;
      border-radius: 5px;
      color: #AAEFDF;
      display: block;
      font-size: 15px;
      font-weight: bold;
      margin: 10px;
      padding: 10px;
      position: relative;
      text-transform: uppercase;
      outline: none; }
      .editModal .modal-details .updateBtn:hover {
        background: #AAEFDF;
        color: #ffffff; }
  .editModal li {
    margin: 0 0 15px 10px; }
    .editModal li textarea {
      width: 100%;
      height: 50px;
      outline: none;
      border: none;
      resize: none;
      font-size: 14px;
      font-family: "Raleway", sans-serif; }
    .editModal li input {
      box-sizing: border-box;
      border: 1px solid #AAEFDF;
      padding: 3px;
      width: 100%;
      font-family: "Raleway", sans-serif;
      font-size: 14px; }
    .editModal li h3 {
      font-size: 30px;
      display: inline; }
    .editModal li h4 {
      color: #ced0ce; }
    .editModal li p {
      display: inline; }
    .editModal li:hover > a, .editModal li:hover > h3, .editModal li:hover > p {
      background: #AAEFDF; }
    .editModal li:hover > .editIcon {
      display: inline; }

.modal-up {
  filter: blur(2px); }

.client-projects-container {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%; }
  .client-projects-container .project-card {
    background: #ffffff;
    border: 1px solid #ced0ce;
    padding: 15px 10px;
    width: 60%;
    box-shadow: 0px 0px 5px 0px #ced0ce;
    border-radius: 5px;
    margin-top: 40px; }

.client-projects-container .project-details {
  display: flex;
  flex-direction: column; }
  .client-projects-container .project-details .title {
    display: flex; }
  .client-projects-container .project-details li {
    margin: 0 0 15px 10px; }
    .client-projects-container .project-details li textarea {
      width: 100%;
      height: 50px;
      outline: none;
      border: none;
      resize: none;
      font-size: 14px;
      font-family: "Raleway", sans-serif; }
    .client-projects-container .project-details li img {
      width: 25px;
      margin-left: 15px; }
    .client-projects-container .project-details li h3 {
      font-size: 30px;
      display: inline; }
    .client-projects-container .project-details li h4 {
      color: #ced0ce; }
    .client-projects-container .project-details li p {
      display: inline; }
    .client-projects-container .project-details li:hover > .editIcon {
      display: inline; }
    .client-projects-container .project-details li .categories {
      display: flex;
      flex-direction: column; }
      .client-projects-container .project-details li .categories .category-image {
        position: relative; }
        .client-projects-container .project-details li .categories .category-image:hover .tooltiptext {
          display: block; }
        .client-projects-container .project-details li .categories .category-image .tooltiptext {
          background: #AAEFDF;
          border-radius: 5px;
          color: #191919;
          display: none;
          font-size: 12px;
          line-height: 16px;
          left: 140%;
          top: -25%;
          padding: 5px;
          position: absolute;
          text-align: center;
          width: 120px;
          z-index: 5; }
          .client-projects-container .project-details li .categories .category-image .tooltiptext:after {
            content: " ";
            position: absolute;
            top: 45%;
            right: 100%;
            margin-top: -5px;
            border-width: 8px;
            border-style: solid;
            border-color: transparent #AAEFDF transparent transparent; }
          .client-projects-container .project-details li .categories .category-image .tooltiptext span {
            letter-spacing: 0.1em;
            display: block; }
  .client-projects-container .project-details .editBtn {
    background: none;
    border: 3px solid #AAEFDF;
    border-radius: 5px;
    color: #AAEFDF;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    outline: none; }
    .client-projects-container .project-details .editBtn:hover {
      background: #AAEFDF;
      color: #ffffff;
      cursor: pointer; }

.editIcon {
  width: 15px;
  margin-left: 10px;
  display: none; }
  .editIcon:hover {
    cursor: pointer; }

.community-feed-container {
  background: #ffffff;
  width: 80%;
  height: 100%; }
  @media only screen and (max-width: 700px) {
    .community-feed-container {
      width: 100%; } }
  .community-feed-container .flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .community-feed-container .flexContainer .feed {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transition: all .5s ease; }
      @media only screen and (max-width: 525px) {
        .community-feed-container .flexContainer .feed {
          width: 85%; } }
    .community-feed-container .flexContainer .postForm {
      display: flex;
      margin: 40px 0 0;
      width: 100%;
      margin-bottom: 40px; }
      .community-feed-container .flexContainer .postForm textarea {
        resize: none;
        background: #e6e8e6;
        font-size: 18px;
        height: 20px;
        padding: 10px;
        border: none;
        outline: none;
        width: 100%;
        border-radius: 5px 0 0 5px; }
        .community-feed-container .flexContainer .postForm textarea::-webkit-input-placeholder {
          color: #4F4F4F;
          font-size: 18px; }
        .community-feed-container .flexContainer .postForm textarea::-moz-placeholder {
          color: #4F4F4F;
          font-size: 18px; }
        .community-feed-container .flexContainer .postForm textarea:-moz-placeholder {
          color: #4F4F4F;
          font-size: 18px; }
        .community-feed-container .flexContainer .postForm textarea:-ms-input-placeholder {
          color: #4F4F4F;
          font-size: 18px; }
      .community-feed-container .flexContainer .postForm .askBtn {
        border-radius: 0 5px 5px 0;
        width: 100px;
        border: none;
        outline: none;
        height: 41px;
        margin: 0;
        padding: 0;
        font-family: "Raleway", sans-serif;
        font-size: 1em; }
        .community-feed-container .flexContainer .postForm .askBtn:hover {
          background: #AAEFDF;
          color: white; }
    .community-feed-container .flexContainer .commPost {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      background: #ffffff;
      border-left: 10px solid #AAEFDF;
      padding: 15px 10px;
      width: 100%;
      box-shadow: 0px 0px 5px 0px #ced0ce;
      border-radius: 5px;
      margin-bottom: 20px; }
      .community-feed-container .flexContainer .commPost .postContainer {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px; }
        .community-feed-container .flexContainer .commPost .postContainer .questioner-img {
          align-self: center;
          border-radius: 50%;
          width: 50px;
          height: 50px; }
        .community-feed-container .flexContainer .commPost .postContainer .question {
          width: 60%;
          color: #4F4F4F;
          align-self: center; }
        .community-feed-container .flexContainer .commPost .postContainer .like-container {
          display: flex;
          flex-direction: column; }
          .community-feed-container .flexContainer .commPost .postContainer .like-container .likeAmount {
            align-self: flex-end; }
          .community-feed-container .flexContainer .commPost .postContainer .like-container img.like {
            align-self: flex-end;
            width: 25px;
            height: 25px;
            border-radius: 5px;
            margin-bottom: 10px; }
            .community-feed-container .flexContainer .commPost .postContainer .like-container img.like:hover {
              background: #AAEFDF;
              cursor: pointer; }
      .community-feed-container .flexContainer .commPost .postInfoContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px; }
        .community-feed-container .flexContainer .commPost .postInfoContainer h1 {
          font-weight: bold; }
      .community-feed-container .flexContainer .commPost .responsesContainer {
        box-sizing: border-box; }
        .community-feed-container .flexContainer .commPost .responsesContainer .response {
          display: flex;
          justify-content: flex-start;
          box-sizing: border-box;
          margin-bottom: 15px;
          width: 100%;
          background: #e6e8e6;
          border-radius: 5px;
          color: dimgray;
          padding: 10px; }
          .community-feed-container .flexContainer .commPost .responsesContainer .response .commenter-photo {
            height: 40px;
            border-radius: 50%;
            border: 2px solid #4F4F4F;
            align-self: center; }
          .community-feed-container .flexContainer .commPost .responsesContainer .response .comment {
            align-self: center; }
          .community-feed-container .flexContainer .commPost .responsesContainer .response .comment-container {
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .community-feed-container .flexContainer .commPost .responsesContainer .response .comment-container .commenter-name {
              margin: 15px 10px;
              font-size: 14px;
              font-weight: bold;
              color: #191919; }
            .community-feed-container .flexContainer .commPost .responsesContainer .response .comment-container .comment-data {
              align-self: flex-start;
              display: flex;
              justify-content: flex-end;
              flex-direction: row;
              margin: 10px 0 0 10px; }
            .community-feed-container .flexContainer .commPost .responsesContainer .response .comment-container .comment-time,
            .community-feed-container .flexContainer .commPost .responsesContainer .response .comment-container .like-comment,
            .community-feed-container .flexContainer .commPost .responsesContainer .response .comment-container .like-text {
              align-self: flex-end; }
            .community-feed-container .flexContainer .commPost .responsesContainer .response .comment-container .comment-time {
              font-size: 12px;
              margin-right: 15px; }
            .community-feed-container .flexContainer .commPost .responsesContainer .response .comment-container .like-text {
              font-size: 14px;
              margin-right: 5px; }
            .community-feed-container .flexContainer .commPost .responsesContainer .response .comment-container .like-comment {
              height: 14px; }
      .community-feed-container .flexContainer .commPost .responseForm {
        display: flex; }
        .community-feed-container .flexContainer .commPost .responseForm textarea {
          box-sizing: border-box;
          width: 100%;
          resize: none;
          padding: 10px;
          border: 1px solid #e6e8e6;
          outline: none;
          height: 36px;
          border-radius: 5px 0 0 5px; }
          .community-feed-container .flexContainer .commPost .responseForm textarea::-webkit-input-placeholder {
            color: #ced0ce; }
          .community-feed-container .flexContainer .commPost .responseForm textarea::-moz-placeholder {
            color: #ced0ce; }
          .community-feed-container .flexContainer .commPost .responseForm textarea:-moz-placeholder {
            color: #ced0ce; }
          .community-feed-container .flexContainer .commPost .responseForm textarea:-ms-input-placeholder {
            color: #ced0ce; }
        .community-feed-container .flexContainer .commPost .responseForm .respondBtn {
          border-radius: 0 5px 5px 0;
          width: 100px;
          border: none;
          outline: none;
          margin: 0;
          font-family: "Raleway", sans-serif;
          font-size: 1em; }
          .community-feed-container .flexContainer .commPost .responseForm .respondBtn:hover {
            background: #AAEFDF;
            color: white; }
  .community-feed-container .sidebar {
    width: 25%; }
    @media only screen and (max-width: 700px) {
      .community-feed-container .sidebar {
        width: 30%; } }
    @media only screen and (max-width: 525px) {
      .community-feed-container .sidebar {
        display: none; } }
    .community-feed-container .sidebar .user-stats {
      background: rgba(230, 232, 230, 0.6);
      border-radius: 5px;
      border-bottom: 10px solid #AAEFDF;
      box-shadow: 0px 0px 5px 0px #ced0ce;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      width: 100%; }
      .community-feed-container .sidebar .user-stats img.user-photo {
        width: 90px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px #ced0ce;
        margin: 15px 0; }
      .community-feed-container .sidebar .user-stats hr {
        width: 90%;
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .community-feed-container .sidebar .userstat-username {
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 20px; }
    .community-feed-container .sidebar .points {
      margin: 8px 0; }
    .community-feed-container .sidebar p.rank {
      margin-bottom: 15px; }
      .community-feed-container .sidebar p.rank span {
        font-weight: bold; }
  .community-feed-container .leaderboard {
    background: rgba(230, 232, 230, 0.6);
    border-radius: 5px;
    border-bottom: 10px solid #AAEFDF;
    box-shadow: 0px 0px 5px 0px #ced0ce;
    font-size: 14px;
    margin-top: 40px;
    margin-right: 10px;
    width: 100%; }
    .community-feed-container .leaderboard hr {
      width: 90%;
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .community-feed-container .leaderboard li {
      display: flex;
      flex-direction: row;
      line-height: 40px;
      width: 100%;
      margin: 15px 10px; }
      .community-feed-container .leaderboard li.title {
        margin-left: 0; }
      .community-feed-container .leaderboard li h3 {
        margin-top: 15px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        width: 100%; }
      .community-feed-container .leaderboard li .prof-pic {
        height: 40px;
        border-radius: 10px;
        margin-right: 10px; }
      .community-feed-container .leaderboard li .rank {
        width: 12%; }
      .community-feed-container .leaderboard li .leader-username {
        margin-right: 10px;
        width: 25%; }
      .community-feed-container .leaderboard li .points {
        align-content: flex-end;
        width: 32%;
        text-align: right; }

.dev-dashboard-container {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80%;
  justify-content: flex-start;
  transition: all 0.5s ease; }
  @media only screen and (max-width: 700px) {
    .dev-dashboard-container {
      width: 100%; } }
  .dev-dashboard-container .btnContainer {
    margin: 40px 0 20px;
    display: flex;
    justify-content: center;
    background: #AAEFDF;
    width: 460px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #ced0ce;
    transition: all 0.5s ease; }
    @media only screen and (max-width: 525px) {
      .dev-dashboard-container .btnContainer {
        width: 400px; } }
    @media only screen and (max-width: 440px) {
      .dev-dashboard-container .btnContainer {
        width: 300px; } }
    @media only screen and (max-width: 330px) {
      .dev-dashboard-container .btnContainer {
        width: 280px; } }
    .dev-dashboard-container .btnContainer a {
      text-decoration: none;
      color: #191919;
      font-size: 14px;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      padding-bottom: 5px;
      position: relative;
      display: inline-block;
      transition: color 0.2s ease; }
      @media only screen and (max-width: 440px) {
        .dev-dashboard-container .btnContainer a {
          font-size: 13px; } }
      @media only screen and (max-width: 330px) {
        .dev-dashboard-container .btnContainer a {
          font-size: 12px; } }
      .dev-dashboard-container .btnContainer a:hover::after, .dev-dashboard-container .btnContainer a:hover::before {
        width: 100%;
        left: 0; }
    .dev-dashboard-container .btnContainer a::after, .dev-dashboard-container .btnContainer a::before {
      content: '';
      position: absolute;
      top: calc(100% + 5px);
      width: 0;
      right: 0;
      height: 3px; }
    .dev-dashboard-container .btnContainer a::before {
      transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      background: #4F4F4F; }
    .dev-dashboard-container .btnContainer a::after {
      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: #ffffff; }
    .dev-dashboard-container .btnContainer .allProjectsBtn,
    .dev-dashboard-container .btnContainer .commFeedBtn,
    .dev-dashboard-container .btnContainer .myProjectsBtn {
      height: 50px;
      width: 33.33%;
      border: none;
      background: #AAEFDF; }
      .dev-dashboard-container .btnContainer .allProjectsBtn:hover,
      .dev-dashboard-container .btnContainer .commFeedBtn:hover,
      .dev-dashboard-container .btnContainer .myProjectsBtn:hover {
        background: #AAEFDF; }
      .dev-dashboard-container .btnContainer .allProjectsBtn:focus,
      .dev-dashboard-container .btnContainer .commFeedBtn:focus,
      .dev-dashboard-container .btnContainer .myProjectsBtn:focus {
        outline: 0; }
    .dev-dashboard-container .btnContainer .myProjectsBtn {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px; }
    .dev-dashboard-container .btnContainer .allProjectsBtn {
      border-right: 3px solid #e6e8e6;
      border-left: 3px solid #e6e8e6; }
    .dev-dashboard-container .btnContainer .commFeedBtn {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px; }
  .dev-dashboard-container .infoContainer {
    display: flex;
    width: 460px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px #ced0ce;
    border-radius: 5px;
    margin-bottom: 50px;
    transition: all 0.5s ease; }
    @media only screen and (max-width: 525px) {
      .dev-dashboard-container .infoContainer {
        width: 400px; } }
    @media only screen and (max-width: 440px) {
      .dev-dashboard-container .infoContainer {
        width: 300px; } }
    @media only screen and (max-width: 330px) {
      .dev-dashboard-container .infoContainer {
        width: 280px; } }
    .dev-dashboard-container .infoContainer img.profilePic {
      margin-top: 20px;
      height: 150px;
      box-shadow: 0px 0px 5px 0px #ced0ce;
      border-radius: 50%;
      margin: 15px 10px;
      border: none; }
    .dev-dashboard-container .infoContainer:hover > .skills > p.skills-list {
      background: #AAEFDF; }
    .dev-dashboard-container .infoContainer:hover > .skills > .editIcon {
      display: inline; }
    .dev-dashboard-container .infoContainer p {
      display: inline; }
    .dev-dashboard-container .infoContainer .gitHubLink,
    .dev-dashboard-container .infoContainer .name,
    .dev-dashboard-container .infoContainer .skills {
      font-size: 20px;
      margin: 15px 10px; }
      .dev-dashboard-container .infoContainer .gitHubLink input,
      .dev-dashboard-container .infoContainer .name input,
      .dev-dashboard-container .infoContainer .skills input {
        width: 250px;
        font-size: 20px;
        outline: none;
        border: 1px solid #e6e8e6;
        font-family: "Raleway", sans-serif;
        padding: 2px; }
      .dev-dashboard-container .infoContainer .gitHubLink .save,
      .dev-dashboard-container .infoContainer .name .save,
      .dev-dashboard-container .infoContainer .skills .save {
        background: none;
        border: 3px solid #AAEFDF;
        border-radius: 5px;
        color: #AAEFDF;
        font-size: 12px;
        font-weight: bold;
        margin: 10px;
        padding: 6px;
        position: relative;
        text-transform: uppercase;
        outline: none; }
    .dev-dashboard-container .infoContainer .contributions,
    .dev-dashboard-container .infoContainer .points,
    .dev-dashboard-container .infoContainer .rank,
    .dev-dashboard-container .infoContainer .skills {
      height: 20px;
      width: 100%;
      text-align: center;
      border-top: 1px solid lightGrey;
      font-size: 20px;
      padding: 15px 0;
      margin: 0; }
    .dev-dashboard-container .infoContainer .skills {
      height: auto; }
      .dev-dashboard-container .infoContainer .skills p {
        display: block;
        margin-bottom: 15px; }
    .dev-dashboard-container .infoContainer .editIcon {
      width: 15px;
      margin-left: 10px;
      display: none; }
      .dev-dashboard-container .infoContainer .editIcon:hover {
        cursor: pointer; }
    .dev-dashboard-container .infoContainer .skills-header {
      font-weight: bold; }

.pull-request-modal {
  padding: 15px;
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 30%;
  z-index: 5;
  background: #ffffff;
  box-shadow: 0 0 200px 40px #4f4f4f;
  border-radius: 5px;
  transform: scale(1.5); }
  .pull-request-modal img {
    width: 30px;
    position: absolute;
    right: -5px;
    top: -5px; }
  .pull-request-modal h1 {
    font-size: 20px;
    margin-bottom: 10px; }
  .pull-request-modal p {
    padding: 5px;
    margin: 5px; }
  .pull-request-modal .select-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .pull-request-modal .select-container .sub-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 10px;
      border-top: 1px solid #e6e8e6;
      border-left: 1px solid #e6e8e6;
      position: relative; }
      .pull-request-modal .select-container .sub-container select {
        width: 50%;
        font-size: 15px;
        border: none;
        outline: none;
        height: 20px;
        margin: 0 5px 10px 10px;
        background: #AAEFDF; }
      .pull-request-modal .select-container .sub-container p {
        padding: 5px;
        margin: 10px 5px 5px 10px; }
        .pull-request-modal .select-container .sub-container p span {
          padding: 1px 8px 3px;
          background: white;
          border-radius: 50%;
          position: absolute;
          top: -10px;
          left: -10px;
          color: #ced0ce;
          font-size: 20px;
          border-top: 1px solid #e6e8e6;
          border-left: 1px solid #e6e8e6; }
    .pull-request-modal .select-container .sub-container:nth-child(2) {
      margin-left: 15px; }

.modal-up {
  filter: blur(2px); }

.dev-projects-container {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 80%;
  height: 100vh; }
  .dev-projects-container .project-card {
    background: #ffffff;
    align-self: flex-start;
    padding: 15px 10px 0;
    margin-top: 40px;
    width: 60%;
    box-shadow: 0px 0px 5px 0px #ced0ce;
    border-radius: 5px; }
    .dev-projects-container .project-card h3 {
      font-size: 30px; }
    .dev-projects-container .project-card .details {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .dev-projects-container .project-card .details form {
        display: flex;
        flex-direction: column;
        margin: 15px 10px; }
        .dev-projects-container .project-card .details form select {
          background: #ffffff;
          border: 1px solid #ced0ce;
          font-family: "Raleway", sans-serif;
          font-size: 16px;
          height: 25px; }
          .dev-projects-container .project-card .details form select:focus {
            outline: 0; }
        .dev-projects-container .project-card .details form label.date {
          margin: 30px 0 15px; }
        .dev-projects-container .project-card .details form input {
          border-radius: 5px;
          border: 1px solid #ced0ce;
          font-family: "Raleway", sans-serif;
          font-size: 16px;
          height: 25px; }
          .dev-projects-container .project-card .details form input:focus {
            outline: 0; }
      .dev-projects-container .project-card .details .help-btn {
        display: none; }
      .dev-projects-container .project-card .details .help-btn,
      .dev-projects-container .project-card .details .submit-btn {
        margin: 10px;
        border-radius: 5px;
        border: none;
        height: 40px;
        width: 100px;
        align-self: center;
        align-items: center; }
        .dev-projects-container .project-card .details .help-btn:hover,
        .dev-projects-container .project-card .details .submit-btn:hover {
          background: #AAEFDF; }
        .dev-projects-container .project-card .details .help-btn:focus,
        .dev-projects-container .project-card .details .submit-btn:focus {
          outline: 0; }
      .dev-projects-container .project-card .details .help-btn.active {
        display: block; }

div.tooltip {
  display: none;
  justify-content: center;
  position: relative;
  height: 40px;
  align-self: center; }
  div.tooltip.active {
    display: flex; }
  div.tooltip:hover .tooltiptext {
    display: block; }
  div.tooltip .tooltiptext {
    background: #AAEFDF;
    border-radius: 5px;
    color: #191919;
    display: none;
    font-size: 12px;
    line-height: 16px;
    left: 100%;
    top: -10%;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 120px;
    z-index: 5; }
    div.tooltip .tooltiptext:after {
      content: " ";
      position: absolute;
      top: 45%;
      right: 100%;
      margin-top: -5px;
      border-width: 8px;
      border-style: solid;
      border-color: transparent #AAEFDF transparent transparent; }

.dev-projects-container .update {
  padding: 10px;
  margin-top: 25px;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 100px; }
  .dev-projects-container .update:hover {
    background: #AAEFDF; }

header {
  background: linear-gradient(#4F4F4F, #191919);
  height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%; }
  header h1 {
    margin-top: 2px;
    font-size: 24px;
    margin-left: 10px;
    color: #ffffff;
    font-family: "Catamaran", sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em; }
    header h1:hover {
      cursor: pointer; }
  header img {
    height: 40px;
    margin-left: 10px; }
    header img:hover {
      cursor: pointer; }
  header .navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header .navList .navItem {
      padding: 0 20px;
      height: 50px;
      align-items: center;
      display: flex; }
    header .navList .active {
      background: #ffffff;
      color: #191919; }
  header a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    transition: color 0.2s ease;
    padding: 3px 0; }
    header a:hover {
      color: #aaa; }
      header a:hover::after, header a:hover::before {
        width: 100%;
        left: 0; }
  header a::after, header a::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px; }
  header a::before {
    transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: #4F4F4F; }
  header a::after {
    transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #AAEFDF; }

.home-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  width: 80%;
  height: 100vh; }
  .home-container .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent; }
  .home-container button {
    height: 50px;
    border: none;
    background: #AAEFDF;
    margin: 0 10px;
    border-radius: 5px;
    padding: 10px;
    width: 215px;
    outline: none; }
    .home-container button:hover {
      background: #7fe7cf;
      cursor: pointer; }
  .home-container a {
    text-decoration: none;
    color: #191919;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    transition: color 0.2s ease; }
  .home-container .aboutBtn {
    height: 50px;
    border: none;
    background: #AAEFDF;
    margin: 0 0 20px 0;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    outline: none; }
    .home-container .aboutBtn:hover {
      background: #7fe7cf;
      cursor: pointer; }
  .home-container .continueBtnContainer {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease; }
  .home-container h1 {
    font-size: 4em;
    text-align: center; }
  .home-container h2 {
    margin: 20px 0;
    font-size: 1.5em;
    align-self: center; }
  .home-container .about {
    display: flex;
    height: 130vh;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 100vh;
    background: #ffffff;
    width: 80%; }
    .home-container .about .aboutContainer {
      display: flex;
      align-items: center;
      justify-content: space-around; }
    .home-container .about .aboutSubContainer {
      display: flex;
      justify-content: center;
      padding: 10px; }
      .home-container .about .aboutSubContainer .mission {
        flex-shrink: 20; }
      .home-container .about .aboutSubContainer .section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 15px;
        border: 1px solid #f2f2f2;
        padding: 10px; }
        .home-container .about .aboutSubContainer .section h2 {
          color: #AAEFDF;
          border-bottom: 1px solid #ced0ce; }
        .home-container .about .aboutSubContainer .section p {
          color: #4F4F4F;
          line-height: 1.25;
          text-align: center; }
        .home-container .about .aboutSubContainer .section .member {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 10px; }
          .home-container .about .aboutSubContainer .section .member .memberName {
            font-weight: bold;
            font-size: 20px; }
          .home-container .about .aboutSubContainer .section .member .profile {
            width: 50px;
            border-radius: 50%; }
          .home-container .about .aboutSubContainer .section .member .mediaPic {
            width: 50px; }

.redirect-container {
  background: #e6e8e6;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100vh; }
  .redirect-container .boxLoading {
    width: 80px;
    height: 80px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .redirect-container .boxLoading:before {
      content: '';
      width: 80px;
      height: 5px;
      background: #000;
      opacity: 0.1;
      position: absolute;
      top: 94px;
      left: 0;
      border-radius: 50%;
      animation: shadow 0.5s linear infinite; }
    .redirect-container .boxLoading:after {
      content: '';
      width: 80px;
      height: 80px;
      background: #AAEFDF;
      animation: animate 0.5s linear infinite;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px; }
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px; }
  25% {
    transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px; }
  75% {
    transform: translateY(9px) rotate(67.5deg); }
  100% {
    transform: translateY(0) rotate(90deg); } }
@keyframes shadow {
  0%,
        100% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.2, 1); } }
#flat-slider.ui-slider {
  background: #e6e8e6;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  width: 200px; }

#flat-slider.ui-slider .ui-slider-handle {
  width: 19px;
  height: 19px;
  border-radius: 50% 50% 0;
  border: 3px solid #ffffff;
  background: #AAEFDF;
  transition: border 0.4s ease; }

#flat-slider.ui-slider .ui-slider-handle.ui-state-active,
#flat-slider.ui-slider .ui-slider-handle.ui-state-focus,
#flat-slider.ui-slider .ui-slider-handle.ui-state-hover {
  outline: 0; }

#flat-slider.ui-slider .ui-slider-pip .ui-slider-line {
  background: transparent;
  transition: all 0.4s ease; }

#flat-slider.ui-slider.ui-slider-horizontal {
  height: 6px; }

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  top: -26px;
  margin-left: -10px; }

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip {
  top: 12px;
  color: #191919;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  line-height: 40px; }

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
  width: 2px;
  height: 10px;
  margin-left: 1px;
  background-color: #e6e8e6; }

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
  height: 17px;
  background-color: #AAEFDF; }

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  height: 12px;
  background-color: #AAEFDF; }

#flat-slider .ui-slider-handle,
#flat-slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line,
#flat-slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
#flat-slider .ui-slider-range {
  background-color: #AAEFDF; }

#flat-slider .ui-widget-header {
  background: #AAEFDF; }

/*# sourceMappingURL=main.css.map */
